[2020-07-15 20:37] baallan commented on #313
The problem we have is that the ovis-4 branch is not just a minor bugfix development, since the configure.ac version number was bumped to 4.3.4. There were major incompatibilities going from 4.2 to 4.3 and are by now minor (non-network) ones going from 433 to 434. Maybe if we did a 4.3.4.alpha0 back at the first commit that also included 4.3.4 as the version number we would get to a reasonable pla

[2020-07-15 20:44] morrone commented on #313
git-version-gen absolutely automatically generates unique versions. It just uses a value very similar to what "git describe" creates. I think that is maybe where you are confused. The "git describe" command (and git-version-gen) will use the unadulterated tag if your HEAD and the tag point to the same commit.  So you are probably seeing that happen and just assuming that it _never_ adds informatio

[2020-07-15 20:56] morrone commented on #313
-dev to -alpha is not a progression that will be understood by a computer. Most packaging systems will think that -dev is newer than -alpha, rather that the other way around. That's a royal pain. Please don't go that route.

alpha is plenty well understood to be not ready for arbitrary users. People generally understand that "alpha" means that it is a development release, and it is still so unstab

[2020-07-15 21:14] tom95858 commented on #313
@baallan, please delete the 4.3.4 tag. There is a large set of commits adding set reference counting and fixing scalability issues on uGNI. All of this is undergoing testing. My written notes document the agreement to use annotated tags at the LDMS UG.

[2020-07-15 21:20] baallan commented on #313
@tom95858 please share your written notes/ppt re the tags/releases/naming process so I can get them (distilled if so advised) into the wiki.

Is it acceptable that i tag 4.3.4.alpha.0 at the point where you bumped the version in configure.ac to 4.3.4?

[2020-07-15 21:30] baallan commented on #313
bad tag deleted.

[2020-07-16 16:30] morrone commented on #95
This is largely addressed by the landing of PR #267 on the OVIS-4 branch.

[2020-07-16 16:30] #95 closed

[2020-07-17 18:51] morrone commented on #313
It looks like we stalled inches from the goal line. We still need that annotated tag somewhere in the history of the OVIS-4 branch.

[2020-07-18 21:54] baallan commented on #313
@morrone @tom95858 since no one has commented on my proposed tag for 3 days, I will make it this evening.
And I will propose to bump it from alpha.0 to alpha.1 when Tom's ovsi-4-ref-test changes finally get merged.

[2020-07-18 22:46] tom95858 commented on #313
@baallan: OVIS-4-alpha.0 is that right? @morrone, is there some syntax to the message that @baallan needs to adhere to?

[2020-07-19 01:47] morrone commented on #313
It would be OVIS-4.3.4-alpha.0. Because presumably the next release will be 4.3.4, and this is a very early, unstable development, pre-release of 4.3.4.

There is no specific syntax required for the message. You can put any useful information that you think people should know about that tag. Later the OVIS-4.3.4 tag's message might look more like release nodes, or a summary of the release notes.

[2020-07-19 20:15] baallan commented on #313
@oceandlr @morrone @tom95858  I have tagged OVIS-4.3.4-alpha.0 on the ovis-4 branch, so a clean clone, ./autogen.sh && configure && make dist now creates ovis-ldms-4.3.4-alpha.0.87-50406.tar.gz.

[2020-07-19 20:15] #313 closed

[2020-07-20 04:51] morrone commented on #77
This is resolved, at least for the OVIS-4 branch, by the landing or PR #316.

[2020-07-20 04:52] morrone commented on #32
This was fixed as of 4.3.3.

[2020-07-20 04:52] #32 closed

[2020-07-20 04:52] #77 closed

[2020-07-20 15:15] baallan commented on #32
but see also 309. apparently there are more issues to reuse than just the input filter.

[2020-07-20 16:20] morrone commented on #32
@baallan, thanks for the heads up, but #309 is the PR "Variable subdir v4". Did you mean some other issue?

[2020-07-20 16:39] baallan commented on #32
@morrone just a poor indirection to the 'variable' test which recycles set name and tests the chain to storage with it.
ldms-static-test.sh variable
is showing symptoms.

[2020-07-20 17:16] morrone commented on #32
@baallan could you please open a new issue to document the types of symptoms you are seeing, so I can follow along?

[2020-07-20 17:25] baallan opened #317 "variable sampler test failing"
This 'variable' sampler periodically redefines its sets and schemas, reusing names.
This works at the sampler, but the current aggregation never sees the new definitions of recycled names.
Symptom of this is that the store only gets the first cycle of data in each schema.
Is there something about unpublish needed to convince downstream to drop old definitions?

(This was originally PR 303)
to run

[2020-07-20 17:27] baallan commented on #317
@morrone requested conversion of PR into an issue to track the symptom being fixed.
refers to the ovis-4 branch.

[2020-07-20 19:36] morrone opened #318 "Auth munge configuration issue"
We chatted briefly about auth munge with rdma on the LDMS call this morning. This is the follow-up ticket.

My error has changed from what I recall seeing last time, so perhaps some bug has been addressed in the scripts. I am using, commit 5040632 on OVIS-4 (plus a couple of unrelated changes).

The error that I currently see is:

[code]

In /etc/sysconfig/ldms.d/ldmsd.local.conf, there are only t

[2020-07-20 19:37] morrone commented on #302
New discussion in #318 .

[2020-07-20 19:37] #302 closed

[2020-07-20 20:24] baallan opened #322 "index error in stop sampler"
I reliably get an array out of bounds on a no-tricks array used in ldmsd.c (valgrind trace below) with OVIS-4 when a sampler fails to sample and gets stopped. The sampler in this case is procnetdev and the daemon is doing nothing else.

Without valgrind, code runs but at exit is a stack dump (further below).
If the plugins all run well, the non-valgrind exit is clean. This suggests the stop sample

[2020-07-20 20:28] baallan commented on #318
The message is a C-level error.
Can you include the command line you're (via genders) using to start ldmsd?
It should be found in: /var/run/ldmsd/ldmsd.start.local
or some similarly located .start. file.

[2020-07-20 20:31] baallan commented on #318
Also handy would be as much of /var/run/ldmsd/ldmsd.env.local as you can share and as much of /var/run/ldmsd/all-config.local as you can share.

[2020-07-20 20:36] morrone commented on #318
Yes, it looks like this:

[code]

The "conf=" is definitely wrong. So I try setting:

[code]

That yields this:

[code]

This results in the same error.  This also looks wrong, because the ldms_auth_munge man page says that the option should be "-A socket=PATH".  So I will try running the command line by hand and see what happens:

[code]

I also tried leaving off the "-A" option all together. Sam

[2020-07-20 20:43] morrone commented on #318
/var/run/ldmsd/all-config.local is:

[code]

I also tried commenting out all lines related to llnl_lustre_clients to make sure that wasn't somehow mucking things up (although if it was, ldlms would have some serious error message repair needed). Still get the error.

[2020-07-20 20:54] morrone commented on #318
So with the all_config.local listed above, can we maybe start with the question of why this command does not work?

[code]

Also, the same error messages are printed when the "-A" option is left out of the above command.

[2020-07-20 20:56] morrone commented on #318
Sigh. I don't think the auth munge plugin was built. Guys, this should have been a much easier problem that this has been. Error messages are important.

[2020-07-20 21:02] baallan commented on #318
yes. ldms/src/core/ldms_xprt.c is in dire need of logging for error cases. The tricky bit is which cases, as we expect transport to fail and retry in many cases. Obviously missing plugin is not something retry is going to fix.

[2020-07-20 21:36] morrone commented on #318
@baallan, is there a way to set default auth permissions in ldmsd? Or is it just left to every individual plugin to implement that themselves (granted, the some of the individual plugins may use sampler_base to do it themselves)?

[2020-07-20 21:39] baallan commented on #318
not entirely sure what you're asking. we broke out the auth settings config from sampler_base recently:  pr #268

[2020-07-20 21:43] morrone commented on #318
I am asking if there is a way to, in one place, say that I want the default uid to be "0", the default gid to be "0", and the default perms to be "755" for all metrics. Can I do that?

It is great to _allow_ every metric to set its own permissions if that is needed, but there should be a place to set the defaults for all metrics in absence of explicit configuration in each individual metric.

[2020-07-20 21:52] baallan commented on #318
at the ldms level, perms are on the set-instance level, as that is the unit of transport.
sampler_base parses options with default perm "777" and uid/gid taken from current user.

You could patch to extend the defaults to be taken from LDMS_SET_GID_DEFAULT, LDMS_SET_PERM, etc. The base_auth_parse is easy to extend provided its documented also.

[2020-07-20 21:56] morrone commented on #318
And as far as I can tell, the default perms are not 777. Maybe I am misinterpretting what I am seeing, but if a sampler does not call ldms_set_config_auth(), I am not seeing it at all. I did see the metric under auth ovis, but not in auth munge.

If you are suggestind that LDMS_SET_GID_DEFAULT and LDMS_SET_PERM are C defines, that is not what I want at all. I am talking about runtime configuration

[2020-07-20 22:07] baallan commented on #318
see sampler_base.c:429 for 777. I was thinking the all caps bit as environment variables, not defines.

[2020-07-20 22:43] morrone commented on #318
Right, that is the manual, every sampler needs to do its on its own approach, perhaps with the help of code in sampler_base.

Like I said, I would like to see it build into ldmsd proper. In other words, when a plugin calls ldms_set_new(), the returned ldms_set_t will already contain the global metric permissions that the user has configured in the ldmsd.

Right now it does the following:

[code]

[2020-07-20 22:57] morrone commented on #318
Now my metric data is appearing. A moment before it wasn't. I have no idea what happened.

[2020-07-20 23:00] morrone opened #323 "What do the ldms_auth_munge permissions mean?"
Can someone please explain to me what the ldms_auth_munge permissions means? I assume that the read bit determines if the entity is permitted to read the data from that metric? What about the executable and write bits? What do they do?

The documentation should be updated with the explanation as well.

[2020-07-20 23:25] baallan opened #324 "__ldms_zap_get hardcodes plugin names, breaks fabric transport"
plugins other than rdma,sock,ugni are disallowed in __ldms_zap_get
This prevents the fabric transport plugin for omnipath and the test plugin from being used, it would seem.

[2020-07-20 23:41] baallan commented on #318
did you pick up alpha.1?
Tom merged passel of fixes to ovis-4.

[2020-07-21 00:38] morrone opened #326 "OVIS-4.3.4-alpha.1 tag is broken"
@tom95858 , you'll notice that your tag generated a failed action in https://github.com/ovis-hpc/ovis/actions.

  https://github.com/ovis-hpc/ovis/actions/runs/176299355

Not only won't the OVIS-4.3.4-alpha.1 tag work with the "Create Release" workflow script, it won't work with the git-version-tag script either, so nothing built at this tag or later will even know that the OVIS-4.3.4-alpha.1 tag

[2020-07-21 01:16] baallan commented on #326
@morrone that's odd.
when I clone OVIS-4 / autogen / configure /make dist I get out:
ovis-ldms-4.3.4.15-a16bb.tar.gz
so maybe a bug in a script?

[2020-07-21 02:04] morrone commented on #326
@baallan, I do not think that is the case. You almost certainly did not do a fresh clone from the ovis-hpc/ovis.git repository. The version "4.3.4.15-a16bb" tells me that you are at commit a16bb, and that is 15 commits beyond a tag named "OVIS-4.3.4" in your local repo. The only annotated tag with name "OVIS-4.3.4" that I am aware of is the one that you created recently. That tag was removed from

[2020-07-21 05:30] baallan commented on #326
@morrone you are right. retry still sees alpha.0 and some dist omissions.

[2020-07-21 14:21] tom95858 commented on #326
Hi @morrone,

I used the github create release 'process' to generate the tag. I mistakenly assumed that since it had a message that it was an annotated tag.

I have since done this:

git push --delete origin OVIS-4.3.4-alpha.1
git tag -a OVIS-4.3.4-alpha.1 -F stuff
git push origin OVIS-4.3.4-alpha.1

I'm not sure what you are expecting,  but it did not create a make dist tarball like I think you w

[2020-07-21 14:55] tom95858 commented on #326
@morrone: After recreating the tag and pushing it, the workflow was correctly triggered and the release was generated. The tar file generated, however, does not have the git hash. This matches my experience building it myself.

[2020-07-21 15:26] baallan commented on #326
@tom95858 #278 introduced ovis_strerror so we can contain/avoid the strerror api insanities (thread incorrectness, potential memory leaks).
The "warning: sys_errlist' is deprecated; use strerror' or strerror_r' " is a nuisance warning from gnu ld. There is apparently nothing to be done to suppress it (I tried).
From the commented code I added:
 * If we truly hate it (the warning), we can use the c

[2020-07-21 16:47] tom95858 commented on #326
lt's fine @baallan, if there is not alternative so be it. Not a big deal...just a nuisance like you said.

[2020-07-21 16:49] morrone commented on #326
That is exactly how it should operate. It is not supposed to contain a git hash, because the commit is directly pointed to by an annotated tag. We only need additional information appended if the commit you are on is untagged or if your local repo is dirty (there are uncommitted changes to tracked files). When that happens, you will get a version string that starts with the most recent annotated t

[2020-07-21 16:50] tom95858 commented on #326
Ok @morrone, thanks for the clarification; then we can claim success.

[2020-07-21 16:50] tom95858 commented on #326
@morrone, please close if everyone is happy.

[2020-07-21 16:51] #326 closed

[2020-07-22 10:36] morrone opened #329 "Need to document all ldmsd -c configuration file capabilities!"
Apparently the ldmsd configuration file, the one specified on the command line through the "-c" option, has some very powerful undocumented options. Namely:

* Environment variable substitution: ${SOMEVAR}
* Command subtitution: $(echo foo)
* The "env" directive to set environment variables for use in variable substitution: env VAR=VALUE

I only discovered these capabilities by accident in an exam

[2020-07-22 10:55] morrone opened #330 "Auth munge bug?"
I am not sure if this is a bug or not, because the auth munge permissions are not documented.

When I use the meminfo plugin with the following settings:

[code]

I find that the root user can still see the meminfo metric listing and retrieve the metric data (using ldms_ls). That seems unexpected, because I have clearly listed the perms as no access to anyone.

Is it intended that the root uid and

[2020-07-22 11:00] morrone commented on #323
Additionally, the "ldms_ls" command lists a leading dash before the permissions:

[code]

This seems to hint that the setuid/setgid/sticky bits can be set in the permission, but when I add that digit in the configuration, I am not seeing those bits set. I have no idea what those things would _mean_ in metric context...so something else to be clear about.

[2020-07-22 15:59] tom95858 commented on #322
@baallan can you please confirm that commit e72b33db114f0645e0221f974be49f61fa0f8c1d fixes this issue.

[2020-07-22 17:08] baallan commented on #322
exit and valgrind are happy with this change.

[2020-07-22 17:53] #322 closed

[2020-07-22 18:49] morrone opened #331 "Default permsissions in ldmsd"
It would be very nice to have a way to set default permissions one time in ldmsd that are used by all metrics. @baallan suggested having environment variables to pass those values to ldmsd. That seems reasonable, and consistent with current configuration of ldmsd (the other option being command line options).

So I would propose that we create following option environment variables:

[code]

I wou

[2020-07-22 18:58] morrone opened #332 "Need much better error message when auth module load fails."
I came across the following error:

[code]

This message is terrible. Eventually I realized that the problem was pretty simple: I hadn't built the ldms auth plugin. The resolution of this issue would have been much, much less time consuming if I was given a useful error message like:

[code]

[2020-07-22 19:00] morrone commented on #318
@baallan I expanded on your suggestion to use environment variables, and opened a new ticket, #331, to propose the uid/gid/perm defaults . I have other issues open with other auth munge questions, so I think I can close this one now.

The problem with the bad error message is broken out into issue #332.

[2020-07-22 19:00] #318 closed

[2020-07-23 22:18] baallan commented on #332
+1
also, consider extending auth protocol so the server sends back a hint about the accepted authentication methods if auth method attempted is not configured.

[2020-07-23 23:01] tom95858 commented on #332
Actually, we could add the supported auth to the connect_data exchanged
when the connection begins.

On Thu, Jul 23, 2020 at 5:18 PM Benjamin Allan <notifications@github.com>
wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2020-07-29 01:48] oceandlr commented on #294
Agenda Posted! See LDMSCON2020 site: https://sites.google.com/view/ldmscon2020

[2020-07-29 14:05] aamirrashid opened #347 "Genders keywords for support for LDMS v4.x features"
We are porting LDMS Samplers from v3.x to v4.x. As we move towards configuration, I have some questions regarding "genders" that we use for configuration.

As we are testing our stuff, using straight text files outside of "genders",  we've had to introduce new "keywords" for configuration such as follows:

**DMSD Set Group**

    **Create set group** “setgroup_add name=" GROUP_NAME " [producer=" P

[2020-07-31 15:18] oceandlr commented on #310
Move to share has been completed

[2020-07-31 15:18] #310 closed

[2020-08-03 01:12] baallan opened #355 "ldmsd plugins that cannot be loaded for ldmsd -u"
The following v4 plugins/shared libraries cannot be loaded, queried for usage, and then unloaded. ldmsd -u all -x dummy:0 fails
unless these plugins are blacklisted in ldmsd_config.c. User facing tool ldms-plugins.sh (wrapper on ldmsd -u) cannot return information about these plugins.

Generally the cause is constructor/destructor functions tied to dlopening that use ldms library calls which assum

[2020-08-03 22:26] baallan opened #357 "ovis-4 ldmsd -u meminfo produces excess warnings on multipart path"
When successfully finding a requested plugin, no warnings about missing plugin path elements should be generated.

ldmsd_config.c

[2020-08-03 22:26] baallan opened #358 "meminfo usage string v4"
missing whitespace before producer=<>

[2020-08-06 15:59] baallan opened #361 "lsdate flexibility"
lsdate should handle dates ('1'+9 dec digits) embedded anywhere in string, not just at end. this would handle compressed, etc files.
probably needs a rewrite in  perl/awk/python and a flag to enable new behavior

[2020-08-06 19:38] baallan opened #362 "procnetdev needs an option to be row-per-device instead of wide so schema names are no longer an issue"
procnetdev expands a schema by the list of names in the ifaces= parameter. This causes schema proliferation and analysis headaches downstream, which could be avoided if we had 'device' as a metadata metric.
The original behavior can remain the default and add devicename=true to enable a device column and fixed schema.

[2020-08-06 21:20] oceandlr commented on #294
Thank you for an excellent LDMSCON2020!

Hope to see everyone live next year!

[2020-08-06 21:20] #294 closed

[2020-08-17 20:12] baallan commented on #324
@tom95858 I would like to be testing the fabric xprt plugin this week on stria and omnipath. Does ogc have a fix for this issue, or should i make one?

[2020-08-17 21:59] tom95858 commented on #324
I believe that @narategithub has a branch that has this fix in it.

[2020-08-18 03:20] narategithub commented on #324
The change is part of https://github.com/ovis-hpc/ovis/commit/e74153b165917bd8abfc3bb6d34deefafd6d10c4 in v5 (master). Let me port it overs so that `fabric` transport has a way to specify provider and domain.

[2020-08-18 16:19] baallan opened #365 "producer/transport connection redundant logs"
As in v3, v4 needs connection-related log messages related to reasonably-expected failures to be issued once per incident instead of repeated at the attempt interval. Logs shouldn't explode because a sampled node is down.

[2020-08-18 16:31] baallan commented on #276
@morrone @nichamon I wonder if this issue is correlated with #350, #356, and the other ldms_ls crash being worked in 350.

[2020-08-18 16:44] tom95858 commented on #276
Hi @morrone, does all the output appear and it hangs at the end, or does it hang in the middle of producing the output?

[2020-08-18 16:46] baallan opened #366 "clean up installed /etc (sysconfdir)"
The following locations in the ldms build reference sysconfdir. Review what is installed in sysconfdir vs in /usr/share in all these makefiles.

./lib/etc/ovis/Makefile.am
./lib/etc/ld.so.conf.d/Makefile.am
./ldms/src/ldmsd-samplers/slurm/spank/Makefile.am
./ldms/src/ldmsd-samplers/aries_mmr/aries_mmr_set_configs/Makefile.am
./ldms/src/core/Makefile.am
./ldms/src/auth/Makefile.am
./ldms/etc/Makefi

[2020-08-18 16:47] baallan commented on #366
@valleydlr @morrone I made an issue to remind us to review /etc usage.

[2020-08-18 17:04] baallan commented on #331
It seems like a reasonable extension to put this on the command line as well would be;
-a perm=string where we can argue about whether string is something like 600 or the full gnu chmod perm syntax in a separate thread. I love having things NOT require env vars to be controllable.

[2020-08-18 17:10] baallan commented on #330
Either root should have access to everything (which i think it has to for transport to work) or perms of 0/0/0 means the sampler is never called because noone can see the result anyway. Maybe flag 0/0/0 as a configuration error?

[2020-08-18 17:10] oceandlr commented on #366
Please x-ref with pull request and issue #314. Some items were moved  out of /etc into /share/<...>/examples as part of that.

[2020-08-18 17:23] baallan commented on #366
Also, since the addition of the git version string to AC_INIT in configure.ac, the directory $docdir/$PACKAGE_VERSION has become harder to work with at packaging time and isn't really buying us anything as we typically package.
I propose we switch from what I started in ldms v2 ($docdir/$PACKAGE_VERSION) back to the gnu default ($docdir/$PACKAGE).

I suppose it could still be useful to keep the do

[2020-08-18 18:08] morrone commented on #276
It hangs in the middle of producing output.

[2020-08-18 18:39] baallan opened #367 "move ldms auth plugins to $pkglibdir"
The auth plugins are being installed in libdir instead of pkglibdir with the other plugins. This needs to be adjusted in the makefile.am.

[2020-08-18 19:11] morrone commented on #366
It is not clear to me why PACKAGE_VERSION would now be harder to work with at packaging time. It hasn't cause me any issues with packaging (and on the contrary makes some things much better come packaging time). But that is not the main issue.

I think moving to just the autoconf standard @docdir@ would be fine. I don't see any clear reason for appending a version to the doc directory. ldms is not

[2020-08-18 19:53] narategithub commented on #324
@baallan I'd just pushed `v4-ldms-fabric` to my repo on gitlab (https://gitlab.opengridcomputing.com/narate/ovis/-/commits/v4-ldms-fabric). Could you please give it a try? Thx

[2020-08-18 20:38] baallan opened #368 "Need to log failed connections on listening daemon"
LDMSD should log failed attempts to connect due to auth failure at ERROR or maybe WARNING level.
Administrators should be able to tell when daemons are under attack if they want to be told.

If there's a strong feeling that the log level should be tunable, add an option -a fail=LEVEL.

[2020-08-18 20:40] oceandlr commented on #368
We had a question about this when working through the tutorial. Was this in previously? Or possibly taken out to keep an attacker from filling up the log?

[2020-08-18 21:01] baallan commented on #368
attackers have numerous ways to fill up a log without ldmsd. But if that's a concern, then making the log level of auth failures selectable should address it. On most shared systems, all auth failures are logged as part of NIST-recommended security practices.

[2020-08-18 21:15] oceandlr commented on #368
yes just trying to get the background on the development of this, since this had existed previously.

[2020-08-18 21:19] baallan opened #369 "apparent leaks of memory and/or locks in v4"
Probable leaks in or near the control path  identified with static analysis are noted in the commit of
 WIP: review apparent v4 leaks request #263 . These need to be fixed, proved false positive (which I could not when trying), or identified as replaced with revised code.

[2020-08-18 21:37] tom95858 commented on #369
HI @baallan, I don't think WIP, in general belongs in a pull request. That's why I closed it.

That said, thank you for re-posting as an issue, however, issues is not a place to assign work to others. If you want these warnings to be resolved then:
* Figure out what's going on and propose a code change with associated test claims about how it resolved the symptom experienced, or
* Provide the log

[2020-08-18 21:37] #369 closed

[2020-08-18 22:00] baallan commented on #369
@tom95858 @valleydlr  The harm (repeated memory leaks) is specified precisely in the WIP commit associated with #263. I didn't assign anything to anyone, I merely reported apparent, specific resource leaks in a system daemon.  They happen to be in portions of the code in which I am not an expert. If noone cares to look into it prior to announcing a release as production ready, I will not worry mys

[2020-08-18 23:47] baallan commented on #324
@narategithub I mailed you dumps from a crash in 1st connection attempt.

[2020-08-19 01:56] narategithub commented on #324
Thanks, I'll take a look.

[2020-08-19 20:12] baallan commented on #357
#371 addresses this issue which surfaced at ldmscon2020

[2020-08-20 02:42] narategithub commented on #324
@baallan I'd just added a fix to the buffer overrun problem you've found && rebase on top of OVIS-4 && (forced) pushed to my repo on gitlab on the same branch (v4-ldms-fabric). Could you please give it another try?

[2020-08-20 16:18] baallan commented on #324
will do

[2020-08-20 23:15] baallan commented on #324
sent email with more recent dumps. still trying to get gdb at it.

[2020-08-24 16:54] baallan commented on #365
Barring a refactoring of logging in v4, I would add a log_status int in struct ldmsd_prdcr and a set of bit flags (e.g. PRDCR_LOG_REJECTED, PRDCR_LOG_ERROR)  handled such that if the bit is set, the message is suppressed (having already been issued). A successful connection should clear the flag(s).

[2020-08-24 19:50] baallan commented on #358
fixed by #372

[2020-08-24 19:50] #358 closed

[2020-08-24 19:51] baallan commented on #357
fixed by #371

[2020-08-24 19:51] #357 closed

[2020-08-24 19:52] baallan commented on #324
sent email with gdb dump

[2020-08-24 20:48] baallan commented on #89
@tom95858 should we open a request on the sos tracker  to
build libsos, libods,libods_idx, into a single library and have all the plugins in pkglibdir?
Or just leave it here? Sounds like everyone is happy with plugins in pkglibdir as a good cleanup.

[2020-08-24 20:51] baallan commented on #74
@aazizo @bschwal @gentile @tom95858  is there any reason we need to keep this json parser issue open? Sort of looks finished.

[2020-08-24 20:53] bschwal commented on #74
If there was a fix added to 4.3.3 I think we can close.

[2020-08-24 20:55] oceandlr commented on #74
The part of this that was mine is resolved. Just ignore that part of this thread.

[2020-08-24 21:04] #36 closed

[2020-08-25 06:26] tom95858 commented on #74
Hi @baalllan, I think it's done. Thanks.

[2020-08-25 06:26] #74 closed

[2020-08-25 06:29] tom95858 commented on #368
Is there general consensus that we should convert our logging from 'level' to a bit mask with a bit for each type of error?

[2020-08-25 08:10] tom95858 commented on #89
Hi @baallan, @morrone. I agree with this change. Something like this:

$pkglibdir/sos/libsos.so
$pkglibdir/sos/plugins/...

If all agree, I'll make it so...

[2020-08-25 08:28] morrone commented on #89
@tom95858 , It is not clear to me why you would move libsos.so to a subdirectory. If you do that, you also need to add an ld.so.conf.d file so that "-lsos" works. And at that point, "-lsos" is still going to conflict if there is some other libsos out there. If you are worried about name collision, the library needs a better name (libovissos, or something like that).

Also, it would be nice if this

[2020-08-25 15:00] baallan commented on #368
If we're doing a log green-field, that would be a v5-ish thing to do, right? Every plugin would have to be rewritten.

If doing from scratch, I'd probably start with a look at log4c rather than fooling with bitmasks.

Folks may have seen other solutions; I'm not particularly enamored of log4c's choice of xml instead of something human composable (unless they also have a handy editor for generating

[2020-08-25 23:31] baallan commented on #317
It appears something has been fixed that solved this.

[2020-08-25 23:31] #317 closed

[2020-08-26 23:06] tom95858 commented on #128
Hi @eric-roman has this been resolved? If so, can you close this issue.

[2020-08-28 14:53] baallan commented on #324
@narategithub anything new for me to test yet in omnipath?

[2020-08-28 15:35] eric-roman commented on #128
I'll need to test a recent branch.  We disabled the stream subscription that introduced the original problem, and haven't re-enabled it.  Is OVIS-4 ready for testing?

[2020-08-28 15:36] narategithub commented on #324
@baallan

Unfortunately, no updates yet. However, I had just thought of something. I'm guessing that your test uses '-x' option, and not `listen`, command. So, could you please give a `listen` config on a specific IP address as follows:

[code]

And, use `ldms_ls -x fabric -p 411 -h <omni-path-IP-addr>.

I tried the IP-addr specific listen/connect with libfabric on iWarp (verbs provider) and eth (

[2020-09-02 00:31] tom95858 commented on #324
Hi @baallan, @narategithub, @oceandlr: What is the status of this? Is it possible for us to host a Zoom session to get
this resolved?

[2020-09-02 00:31] tom95858 commented on #324
Hi @baallan, @narategithub, @oceandlr: What is the status of this? Is it possible for us to host a Zoom session to get
this resolved?

[2020-09-02 00:32] tom95858 commented on #324
Hi @baallan, @narategithub, @oceandlr: What is the status of this? Is it possible for us to host a Zoom session to get
this resolved?

[2020-09-02 00:32] tom95858 commented on #324
Hi @baallan, @narategithub, @oceandlr: What is the status of this? Is it possible for us to host a Zoom session to get
this resolved?

[2020-09-02 00:33] baallan commented on #324
We had a session today and narate has a new theory to work on.

[2020-09-02 00:33] tom95858 commented on #324
Hi @baallan, @narategithub, @oceandlr: What is the status of this? Is it possible for us to host a Zoom session to get
this resolved?

[2020-09-02 00:33] tom95858 commented on #324
Hi @baallan, @narategithub, @oceandlr: What is the status of this? Is it possible for us to host a Zoom session to get
this resolved?

[2020-09-02 00:33] tom95858 commented on #324
Hi @baallan, @narategithub, @oceandlr: What is the status of this? Is it possible for us to host a Zoom session to get
this resolved?

[2020-09-02 00:33] tom95858 commented on #324
Hi @baallan, @narategithub, @oceandlr: What is the status of this? Is it possible for us to host a Zoom session to get
this resolved?

[2020-09-02 01:12] oceandlr commented on #324
@tom95858 You should leave me out of a session if that's the way to go. I have no technical insights on this one.

[2020-09-02 01:47] narategithub commented on #324
@tom95858

Ben tested my branch `narate/v4-ldms-fabric`. In short, ldms over fabric works when listen on a specific address (using `listen xprt=fabric port=BLA host=OMNIPATH_IP_ADDR).

During the session, we noticed a couple of nits, and Ben and I agree to add the following:

1) Modify `-x` to receive "XPRT:PORT:ADDR", where the ":ADDR" is optional, to specify the address to listen to on the CLI o

[2020-09-02 04:15] baallan commented on #324
for transport:port:addr tuples, it should also accept transport:port:host and do the local ip addr lookup.
I wonder if there's something we should be making consistent with how sosdb parses transport connection tuples from user input.

[2020-09-02 05:07] tom95858 commented on #324
Hi @baallan, @narategithub:

WRT adding the optional transport:port:host It should work one way and not require the logic to try and determine if the 2nd element a port or a host. My view is to keep it simple.

Also, I'm not convinced we've really worked this out completely. If the user specifies fabric, then we _don't_ want the socket transport, which I think is what is happening here, i.e. libfa

[2020-09-02 15:04] baallan commented on #324
re the xprt:port:host. We thought to keep it simple (not consuming another of the scare one-letter options on the command line). This may not be optimal  if we want to support cases (such as login nodes) where one wants to support listening:
* sock on some ip addresses/hostnames and not others
* rdma on omnipath but not mlx or the other way around.
* rdma on a particular port (which generally will

[2020-09-06 00:08] MAChenliang opened #393 "Fail to install with SOS"
I have installed SOS. When I run “../configure --prefix=/opt/ovis --enable-sos --with-sos=/opt/SOS && make” , it will show “../ldms/src/store/slurm/store_slurm.c:236:4: error: unknown field 'join_list' specified in initializer” and "../ldms/src/store/slurm/store_slurm.c:595:26: error: 'union sos_timestamp_u' has no member named 'tv'".
ovis version: 4.3.3/4.3.2
SOS version: 3.4.0/3.3.1

[2020-09-06 00:33] #393 closed

[2020-09-09 19:14] baallan commented on #324
Recently merged addition of host field on -x option enables data transport all the way to the store and ldms_ls to work. I'm reviewing a long list of valgrind messages, but this may be due to rdma buffers being seen as uninitialized.

[2020-09-09 22:51] baallan commented on #324
@narategithub looks like destroy for fabric connections in ldms_ls and agg both either isn't called or fails to call fi_freeinfo somehow, resulting in a large apparent per-connection leak. I'll send valgrind logs to you.

[2020-09-12 09:15] MAChenliang opened #399 "For help:No data is written to the SOS database"
I refer to [LDMS Version 3 Tutorial]  (https://ovis.ca.sandia.gov/images/4/4d/LDMSV3Tutorial_SAND20175153.pdf ) to start useing store_sos plugin.It shows "running",but no data is written to the directory.I have no idea how to solve it.

System version: centos 7.7
OVIS version: OVIS-4.3.3
SOS version: sos-OVIS-4.3.1

  ldmsd_controller --hostname localhost --port 10001
  sock:localhost:10001> load

[2020-09-13 02:15] tom95858 commented on #399
It's not clear from the above that you ever created a producer to point at the sampler deamon(s), or ever created updaters to gather data from the samplers daemons. The store saves data that has been collected by an "updtr."

[2020-09-13 09:09] MAChenliang commented on #399
Thx.SOS plugin is working successfully now.
I did not creat updaters before.

[2020-09-20 07:58] morrone opened #402 "run-static-tests.sh should not be installed in bindir (and other commit issues)"
The below commit introduced a "run-static-test.sh" script which is improperly being installed in bindir. This does not belong in bindir. We should fix that before the next V4 tag.

```* 7dabc65 2020-09-08 Add "make check" test script for enabled plugins```

[2020-09-20 08:19] morrone commented on #402
It looks like this commit has a number of other issues that we should probably also address before the next release:

* This commit introduced a "static-test-list.in" file. This file is not actually use substitutions from autoconf, so it should not be a ".in" file.
* The "static-test-list" file appears to be a list of items grep'ed by the run-static-test.sh script. static-test-list should therefor

[2020-09-20 10:47] morrone opened #404 "Need proper cython autoconf test(s)"
It looks like OVIS-4 has now lost the "--disable-python" option, and also requires cython. However there does not appear to be a proper autoconf test (or tests) for cython. We will need that before the next V4 release.

Additionally, the tests need to detect the proper cython. For instance, the EPEL python36-Cython package installs the cython binary as "cython3.6". LDMS will need to properly detec

[2020-09-20 23:19] tom95858 commented on #404
Good catch @morrone we'll make that a priority.

[2020-09-21 02:30] narategithub commented on #404
@morrone we have `--disable-ldms-python` to disable python-dependent module. Could you please point me to the point when we have `--disable-python`? I could not find it from `configure.ac` or `ldms/configure.ac` git log history.

@tom95858 please let me know if we should rename `--disable-ldms-python` to just `--disable-python`.

[2020-09-21 05:06] morrone commented on #404
@narategithub , I don't know, maybe that was something stray in my spec file from very old stuff. I wouldn't worry about that. We should probably focus on getting proper cython checks.

[2020-09-21 05:08] morrone commented on #404
By the way, is anything from cython needed at run time, or is it just at build time that it is used? Just wondering if a BuildRequires is sufficient in my spec file, or if a Requires is also in order.

[2020-09-21 05:17] narategithub commented on #404
cython is needed only at build time.

About the python option name, I think `--disable-ldms-python` should be just `--disable-python`, but I'll wait for a confirmation from @tom95858 .

[2020-09-21 05:33] morrone commented on #404
--disable-ldms-python does appear to work. --disable-python seems like a better name, but there might be an argument to be made that it shouldn't change in a minor release. Or if we do change it there should be a backwards compatible --disable-ldms-python that works, and sets --disable-python, while also printing a warning that --disable-ldms-python is deprecated.  The deprecated option could be r

[2020-09-21 17:01] baallan commented on #404
btw --disable-ldms-python stems from the time when ovis/ had submodules (e.g. sos) with their own python bindings enabled separately. now submodules have been eschewed, it could become enable-python i expect. (other than annoying packagers, no great loss).

[2020-09-21 17:14] baallan commented on #402
@morrone This work does belong installed in bin and/or $pkglibdir depending on file.
Packagers are free (and expected) to put demo/test programs they do not like in production into an ovis-ldms-test package or some such (or simply delete the files they don't like at the end of their install rule).
This test work is expected to expand to use with installcheck and post-package&install regression tes

[2020-09-21 17:54] Snell1224 commented on #402
Hello, @morrone . I agree with @baallan that the 'run-static-test' is/will be used for installcheck, post-package and install regression testing. I have noticed that 'ldms-static-test.man' probably isn't required so if this man page is causing unnecessary clutter or confusion within the repo, I can remove it and add in-code comments instead.

[2020-09-21 18:05] tom95858 commented on #404
@narategithub , please rename disable-ldms-python to just --disable-python. I believe it should be enabled by default.

[2020-09-21 18:20] baallan commented on #404
@tom95858 enabling python is fine by default so long as it works with a rhel 7 (non-epel) python3 and does not depend on an epel cython. If requiring an unusual-source cython, python should be disabled by default.

[2020-09-21 18:41] morrone commented on #402
I'm sorry, but a script with a name so generic as "static-test-list" is not appropriate for normal global install in bindir. This is exactly the sort of thing we've been trying to clean up for the past year. Forcing packagers to clean up after us is not really a great approach to organization. I would like to us to get more into the habit of selecting good program names and installation locations

[2020-09-21 18:53] baallan commented on #402
@morrone @Snell1224 Chris' request for ldms prefixing is fine. The data file can be in pkglibdir rather than bindir. We already, unless it got cleaned up, have some configure flag(s) controlling the build/install of tests that can be applied here.

[2020-09-21 19:08] baallan commented on #402
@Snell1224 looks like you merged generating the static-test-list into the testing driver. I would prefer, if possible, the expected-to-evolve test list be separate from the driver code to make maintenance easier. The driver would contain:

testlist=""
. $pkglibdir/ldms-static-test-list

[2020-09-21 20:08] tom95858 commented on #404
@baallan, @morrone I understand the requirement to only have run-time dependencies on distribution RPM. However, this is a *build* dependency, not a run-time dependency. I can also understand the preference to have build dependencies on distribution RPM. However, the distribution RPM for Cython a) does not properly support Python3, and b) the Python community in general recommends that we use *pip

[2020-09-21 20:31] tom95858 commented on #402
Have we come to agreement on this? I would prefer that ldms-run-static-tests _not_ be in bindir. That directory is hit as often as any other in the filesystem and filling it up with commands that will get run at-most once by a real user seems ill advised to me. That said, this is disabled by default, correct?

[2020-09-21 21:23] morrone commented on #404
I would like to clarify that I was not in the camp that argued against having a dependency on packages in EPEL. EPEL dependencies are generally an easy ask for adding to TOSS.

I'll mull it over some more, but I am currently of the desire that ldms support the lowest common denominator version of cython from EPEL (for RHEL7, that looks like 0.28.5). It is not necessarily the end of the world to in

[2020-09-21 21:34] baallan commented on #404
@morrone I nominate you to open an item in the appropriate TOSS3 internal tracker to get py36/scipy/pandas and cython 0.28.5 included in TOSS3 from either the most recent rhel7 software collection or epel.

[2020-09-21 21:53] morrone commented on #404
@baallan, I think you are mixing issues. scipy and pandas are not required by this part of the ldms build as far as I can see. Those are a topic for another issue. Lets stick with cython in this ticket.

Python 3.6 is already in RHEL7/TOSS3. Python 3.8 is already in RHEL8/pre-TOSS4. I already have a ticket open to include the EPEL package python36-cython in TOSS3 and python38-cython in pre-TOSS4.

[2020-09-22 16:18] baallan commented on #404
@morrone right, re scipy & pandas. please pardon my enthusiasm. We need pandas only if packaging full sosdb tools, not the ldms sos plugin(s).

[2020-09-22 16:25] baallan commented on #402
${pkglibexecdir} appears to be the right automake location.
 "pkglibexec_PROGRAMS = myhelper" in Makefile.am.
My current understanding is that this resolves to something like /usr/lib64/ovis-ldms/
A few notes in the libexecdir section of
https://en.opensuse.org/openSUSE:Specfile_guidelines

[2020-09-22 17:03] baallan opened #407 "high rate kernel events feature"
A kernel high rate software events (perfmon for software counters instead of MSR/papi hw counters) sampler is very desirable.
This is complementary to a streaming software events sampler.

The papi 6 api has some features for software events.
The syspapi sampler seems to be only for MSR-ish events (which is fine btw).
Seems like perfmon has a ton of capability beyond msrs.
Can we have a bit of dis

[2020-09-22 18:53] tom95858 commented on #407
@baallan, the syspapi sampler might be a place to start. It uses the perfmon API, and libpapi to convert the event names into masks used by perfmon. It is reasonable to extend this sampler to allow it to gather other events as well.

[2020-09-22 19:47] morrone opened #408 "SEGFAULT on OVIS-4 head"
I am trying to test OVIS-4 at commit 8f77cd1, and I'm getting a SEGFUALT in ldmsd as soon as I hit it the first time with ldms_ls.

This is on a ppc64le machine, using rdma transport. Running the ldmsd under gdb I see:

[code]

Backtrace of thread 118466:

[code]

[2020-09-22 19:53] Snell1224 opened #409 "Unknown compiler flag: --3str"
I’ve been getting the following error during installation of the most recent OVIS-4 code:

make[3]: Leaving directory `/home/spwalto/ovis-9/22/LDMS_install/ldms/python/cmds'
make[3]: Entering directory `/home/spwalto/ovis-9/22/LDMS_install/ldms/python'
echo PYTHON_LDFLAGS are "-L/usr/lib64 -lpython3.6m"
PYTHON_LDFLAGS are -L/usr/lib64 -lpython3.6m
cython --fast-fail --gdb --3str -I ../../../ldms/p

[2020-09-22 19:58] nick-enoent commented on #409
The latest OVIS-4 no longer supports python2. If you'd like to use the latest OVIS-4, you'll need to upgrade your system to Python3.

[2020-09-22 20:04] morrone commented on #408
To elaborate, this is completely reproducible. It happens every time for me the first time that I run ldms_ls against the ldmsd.

Here is a little more info from another gdb session.  I will include all of the threads' backtraces this time. Note that one of the other threads is always in write() under ibv_cmd_dereg_mr(). Maybe that is relevant?

[code]

[2020-09-22 20:04] tom95858 commented on #409
@Snell1224 that Makefile.am is old. The top of tree has this:

[code]

Also, the Cython installed on your build machine is old. You'll need to do this:

[code]

[2020-09-22 20:23] tom95858 commented on #408
@narategithub could you please take a look at this. This logic is unchanged, but I don't think we have tested recently on a  PPC machine. Absent memory corruption of some kind, it's not obvious how this is happening. The initialization code is here:

[code]
Also, if the cs_init library function is not being called at fork-time, this could happen.

[2020-09-22 20:44] baallan commented on #404
re pip: pypi.org (default origin of pip results) is registered in France, and therefore has no security standards relationship with US institutions. Moreover, it has been numerous times the host of malware and has no obviously stated measures in place to prevent it from being used as a cyber attack vector.
We must have some vendor-certified, security patched source of anything we run as system ser

[2020-09-22 20:56] tom95858 commented on #404
Just so I understand @baallan, no one at the labs uses Numpy, Pandas, or SciPi, ... etc...? My understanding is that these are built with Cython as well.

@narategithub could you please check what the minimum version of Cython is required?

[2020-09-22 21:30] baallan commented on #404
Users apply many different versions of python3/cython/etc. They do it without privilege. In some cases they build their own from source. In many they use a locally supported (nonrhel, nontoss) anaconda3 installation. None of this works for admin tools on our systems.

[2020-09-22 21:33] nick-enoent commented on #404
@tom95858 Cython version 0.20 runs in all Python versions from 2.4 to 3.4 (excluding 3.0). From Cython 0.21 supported versions become 2.6, 2.7, 3.2 and later. Cython 3.0 removes support for Python 2.6 and requires either Python 2.7 or Python 3.4+.

[2020-09-22 23:00] tom95858 commented on #402
@Snell1224,  Can we please get this moved then as @baallan suggests.

[2020-09-23 00:06] Snell1224 commented on #402
@tom95858 Yes, I've been working on it and it will be fixed soon. You can close this issue

[2020-09-23 03:37] morrone commented on #402
@Snell1224 , generally we would leave an issue open until the issue is actually resolved. You can reference this issue in the commit message of your fix.  For instance, you could put "Fixes #402" in your commit message, and then when the PR is merge this ticket will be automatically closed.

[2020-09-23 04:15] narategithub commented on #408
I'm leaning towards memory corruption. The reason is that from the back trace, the pointer to the mutex supplied to `pthread_mutex_lock()` is NULL. I believe it comes from line 688 in zap.c https://github.com/ovis-hpc/ovis/blob/OVIS-4/lib/src/zap/zap.c#L688 `pthread_mutex_lock(&q->mutex);`. Even if `q` is NULL, `&q->mutex` won't because `mutex` is not the first field of `struct zap_event_queue`. I

[2020-09-23 04:34] morrone commented on #408
I can play testing monkey if you want to feed me patches with extra debugging or something.

[2020-09-23 16:42] baallan commented on #409
We have many pure-python scripts not dependent on cython or the cython-wrapped libraries.

We have the option of making them (pure python) unconditionally included (since python 3.6 appears to be python3 in base rhel and suse15).

If being purist (which in this case I would favor), we should have --enable-python-api (default disable) and --disable-python-scripts (default enable); I could be persua

[2020-09-23 17:09] morrone commented on #404
Patches have landed to address the original issue described in this ticket. I am going to close this ticket. Feel free to open new tickets to continue discussion of related topics!

[2020-09-23 17:09] #404 closed

[2020-09-24 08:51] MAChenliang opened #418 "Invalid LDMS metric type"
I can't set SOS database for "procdiskstats".
ldmsd will be killed in a few seconds，if my settings include "strgp_add name=procdiskstats_sos plugin=store_sos container=procdiskstats schema=procdiskstats""strgp_start name=procdiskstats_sos".
The log of ldmsd shows "ldmsd: ../../../../ldms/src/store/store_sos.c:147: set_none_fn: Assertion `0 == "Invalid LDMS metric type"' failed."

My current settin

[2020-09-25 08:28] morrone opened #423 "ldmsd throws Floating point exception on startup"
I am attempting to set up an ldmsd as an aggregator, and my current configuration is reliable tripping a Floating point exception at start up. This is basically at commit 0746b85, except it also has my commits from PR #410. I don't suspect they are related yet, but full disclosure.

Here is a run under gdb with the tail of the -v DEBUG output, and the backtrace from the FPE.

[code]

[2020-09-25 08:33] morrone commented on #423
OK, I found the cause. In my config file I had a typo. This is how the following line _should_ look:

[code]

Instead for interval= I had "interval=${SAMPLER_INTERVAL}", and SAMPLER_INTERVAL wasn't actually something that I was setting.

But still, ldmsd should not throw a FPE on that. :)

[2020-09-25 15:52] baallan commented on #423
ldmsd_updtr_new_with_auth lacks any sort of checking on strtol results, including a check for 0 or empty interval_str.

[2020-09-28 18:21] baallan commented on #367
@baallan create a patch to move auth libs to pkglibdir/auth/

[2020-09-29 00:11] morrone commented on #362
sysclassib is another that would benefit from this treatment.

[2020-09-29 08:30] wooloo1121 opened #434 "lustre2_client sampler not collecting metric data other than component_id, job_id and app_id"
Hello,

We are using LDMS on our hpc cluster, and notice the lustre2_client sampler is not returning metric data other than component_id, job_id and app_id. Namely, with command "ldms_ls -h localhost -p port -l host/lustre2_client", we get only the following:
M u64        component_id                       1
D u64        job_id                                     0
D u64        app_id

[2020-09-29 16:42] tom95858 commented on #434
Hi @wooloo1121, What version of lustre are you running?

[2020-09-30 00:06] tom95858 commented on #408
Hi @morrone, I have compiled, built and tested OVIS-4 top of tree on:

* Red Hat Enterprise Linux Server release 7.6 (Maipo)
* Linux vortex60 4.14.0-115.21.2.1chaos.ch6a.ppc64le #1 SMP Fri May 22 11:01:06 PDT 2020 ppc64le ppc64le ppc64le GNU/Linux

I cannot reproduce this problem, but will keep testing. Can you please send me your sampler config? I just loaded meminfo and ran ldms_ls against it.

[2020-09-30 00:22] morrone commented on #408
@tom95858 Same kernel version. I don't think paths are related, because the install was at the system level from a packaged rpm.

I believe that I was using auth_munge. I think I only had meminfo enabled, but I could be wrong. I was switching between alot of different configurations. I'll build and retest tomorrow with a new config I've finally eliminated the genders stuff today. I'll try with tha

[2020-09-30 00:44] wooloo1121 commented on #434
@tom95858 It's lustre 2.12.

[2020-09-30 01:11] morrone commented on #434
@wooloo1121 , the job_id, app_id, and component ID  are all present in most of the metric sets whether or not the user has actually configured those fields to be used. job_id and app_id are for recording what job and "application" were running on the node at the time of the sample. For SLURM, job_id maps to a SLURM job ID, and app_id maps to a SLURM job step (to the best of my understanding. But i

[2020-09-30 01:39] wooloo1121 commented on #434
Hi @morrone, thank you very much for answering. When you say "explicitly set up job id reporting", do you mean the setting in /opt/ovis/config/ldmsd.conf file?

[2020-09-30 01:54] morrone commented on #434
@wooloo1121, yes, a jobid plugin needs to be configured, and then other steps need to be taken to have the job id information sent to that plugin. One mechanism is using a supplied slurm spank plugin to send job information through ldms streams to the ldmsd, which the jobid plugin watches and uses to update the job metric set. I haven't run through the details myself yet, but I am hoping to work o

[2020-09-30 02:13] morrone commented on #408
@tom95858 well, no the problem is gone. There are a whole lot of parts that changed, so it is hard to say which part was the cause. This ticket might not have anywhere to go now, though.

[2020-10-01 22:06] baallan commented on #434
@wooloo1121 what version of LDMS are you using? The symptom you report is possibly consistent with ldms being an older version 3 or early version 4. Older versions of ldms lustre2_client plugin were not entirely compatible with lustre >= 2.10.

[2020-10-01 22:09] baallan commented on #367
The presence of auth in core/ instead of ldmsd is making this difficult, since missing log messages must be added at the same time to verify correct operation and the log functions are not in core.

[2020-10-01 22:30] wooloo1121 commented on #434
Hi @baallan, thank you for the reply. It's 4.3.3, which is the version that starts to be compatible with lustre 2.12?

[2020-10-01 23:25] baallan commented on #434
4.3.4 (Which is still in beta I think), the tip of the OVIS-4 branch on github has been tested with lustre 2.12.

Also, be aware that if your lustre file system is very large (in terms of server nodes for mds, oss) the lustre data set may become very large. I typically collect only the llite data with lustre2_client and the lnet_stats data.

[2020-10-02 00:23] morrone opened #444 "Discussion of new sampler multi-instance plugin API"
If I understand correctly, sampler_base.[ch] is assuming that there is only one metric set per schema. This can be seen in base_set_new(), where it overwrites base->set without checking the current value, and in base_data_t where there is only storage for single schema and a single set.

LDMS itself does not make this assumption. There can be many sets that are based on the same schema. So this im

[2020-10-02 18:31] morrone opened #447 "ldmsd_set_[register|deregister] need code documentation"
Can someone please share the semantics surrounding ldmsd_set_register and ldmsd_set_deregister? The prototypes lack any code documentation.

What do the functions actually do?

At what points in set creation and destruction should a plugin be calling those functions?

And maybe we should think of hiding these functions from the plugins entirely. They seem like a strange break in the metric set API

[2020-10-02 18:44] morrone commented on #444
Ah, a simpler way to fix this is probably to just not store the set in the base_data_t, and instead pass it to base_* functions as needed. The data in base_data_t is largly common amongst all sets that use the same schema. So a new data type may not be necessary. I'll see if that pans out.

[2020-10-02 18:54] morrone commented on #444
Bug that I'll fix along the way: sampler_base calls ldms_set_publish, but doesn't ever call ldms_set_unpublish().

[2020-10-02 20:21] tom95858 commented on #444
@morrone this is all refactored in the  multi-instance plugin logic and was specifically done to manage this kind of thing. This will be back-ported from master to OVIS-4. It was scheduled to be done later rather than sooner, but maybe we can stage parts of the implementation that are less disruptive sooner.

[2020-10-03 04:06] tom95858 commented on #447
The ldmsd_set_register function is not part of LDMS, but rather LDMSD, i.e. the application. That's why it's in a different header and has a different name.

At some point there was a desire to know what plugins provided which sets. The **ldmsd** 'plugn_sets' configuration command reports what sets each plugin provides. The ldms**d**_set_register() function informs the **ldmsd** daemon that it pro

[2020-10-03 04:42] tom95858 commented on #444
Yes

The idea is that each plugin has multiple instances that are configured differently. The  'new' function returns an 'instance' of the plugin in which it can store it's state. Please feel free to propose a different name.

Know that the plugin interface has been laying around for close to a decade, there is detritus there. Shame on us for not being more proactive about cleaning it up.

dlsym()

[2020-10-03 04:46] tom95858 commented on #447
@morrone, to your point, I'm not disinclined to remove that function and roll it into some other API, for example, **ldmsd_set_new**, I'm just explaining how it got there.

[2020-10-03 07:00] morrone commented on #444
I don't think that is overwrought at all. It is simple and straight forward to implents, and Its how I've seen it implemented on probably a dozen other software projects with plugins. There is a big advantage to keeping the struct in ldmsd and keeping a clean abstraction layer: we can change and rearange the implentation at will without impacting the API. Which is why so many other projects do it

[2020-10-03 07:49] tom95858 commented on #444
Hi @morrone, I think we're talking past each other. It's not a union, it's the top part of a structure that is extended by software that inherits it, like this:

struct biffle {
  int common_a;
  double common_b;
 ...
};

struct biffle_sub {
   struct biffle base;
   /* my stuff */
};

The interface passes around struct biffle *, the plugin implementations of biffle re-cast it as their biffle_sub.

[2020-10-03 07:59] morrone commented on #444
No, I do understand that. But I'm saying it isn't terribly good practice to do that. That practice is not clear or explicit to the reader of the code. A "void *data" in the struct is clear and explicit. A mentioned a union because that would at least be a way to explicitly combine two structs, extending one. Unions aren't magic, they are explicit. _This_ is magic, because what is going on is not a

[2020-10-03 08:25] morrone commented on #444
@tom95858 , I rather suspect that the way that this extends structs, in your biffle example, is not C standards compliant.

Doing this is C standards compliant:

[code]

The best I can figure is that what ldms is currently doing requires the -fms-extensions compiler flag for gcc and clang to make the compilers actually understand what is going on. So that is a non-standards compliant extension. An

[2020-10-03 14:58] tom95858 commented on #444
Hi @morrone,

Perhaps I missing your point, but this is not non-standard C. This model is used extensively all over the Linux kernel and throughout LDMS. The base structure encapsulates the interface, and the provider specific bits follow the common interface.

sys/queue.h does this kind of thing too. The link structure is declared in the list element and the macros cast the list element using the

[2020-10-03 18:44] morrone commented on #444
That isn't the same thing at all. That doesn't assume two different structures with dissimilar declarations will have the same layout. They don't assume that two different strutures will be type compatible.

The C standard only guarantees that structures will be type compatible (laid out the same in memory the same), when the names and field types within the two structures are identical. By puttin

[2020-10-08 04:20] morrone commented on #69
Dropping this ticket.

[2020-10-08 04:21] #69 closed

[2020-10-08 15:15] baallan commented on #69
Thanks for all your contributions that made dropping this ticket practical, btw!

[2020-10-10 02:49] MAChenliang opened #452 "compile error"
I met a problem when I try to install ovis-ldms-4.3.4-alpha.1.
I used the version 4.3.3 before.It worked fine.

System version: centos 7.7

`yum install libtool python python-devel libyaml libyaml-devel curl-devel openssl-devel swig tkinter numpy glibc`
`pip install cython`
`./autogen.sh`
`mkdir build`
`cd build`
`../configure --prefix=/opt/ovis --enable-sos --with-sos=/opt/SOS --enable-swig --ena

[2020-10-13 00:01] baallan opened #454 "papi packaging for system daemon use"
LDMS syspapi sampler needs a consistent in all toss versions libpapi.

[2020-10-13 00:07] baallan commented on #454
@morrone
Given that libpapi is also a research topic for many and that system daemons cannot depend on lmod or the like, I hit on the following for packaging on toss-derived stria. It would make a good approach for toss, if toss3 does not package papi-6.0.x to /usr/lib64.

my papi source is obtained from:

[code]

My ATSE spec file looks something like below. It might want a little tune-up of conf

[2020-10-13 05:32] morrone commented on #454
I really don't understand this approach. I am not a fan of having a whole usr/lib/include/man/etc directory tree for papi under a hard-coded ovis-lmds library path. Nor am I a fan of making it sound like papi is a part of ldms in the packaging when it is really a standa-alone package, regardless of where it is installed.

Also, if we repackage papi, lets start with the upstream spec file. We only

[2020-10-13 15:45] baallan commented on #454
We need papi latest stable (6.0.0.1 as of May 2020).

There is no binary compatibility between papi minor versions (in uint32 Maj.Min.Rev.Inc, Maj.Min must match exactly). The fact that something compiles doesn't mean it is useful or that plugin configuration files written for modern papi will be understood by a 5.2 library.

5.2 is much too old to deal with hardware architectures we care about; 5

[2020-10-13 18:28] Snell1224 opened #455 "Include "make dist-check" to PR build checks"
@morrone Per the #449 PR fix, would it be possible to implement the "make dist-check" step to this repository's github container that builds and checks the OVIS code for each PR?

I don't know if this step is already included in the container but if it is not, I think adding "make dist-check" would help immensely for future automation testing (i.e. Jenkins) since we won't need to worry about error

[2020-10-13 19:09] morrone commented on #454
OK, it sounds like it is less of a code requirement than it is a requirement for a set of features that is offered in the newer papi.

So here are some of the things I think we would want to see in the papi 6 package to allow it to be included in TOSS:

* Base package name is "papi6" (or perhaps "papi6.0" or "papi6.0.0" depending on how likely we need different sub versions installed at the same t

[2020-10-13 19:26] baallan commented on #454
A better solution would be if toss packages depending on ancient papi just migrated to the new one.
Locally we have a preference for (if it's new location) /usr/local over /opt since /opt may not mount at the same time as usr.
prefix=/usr/local/lib/papi60/ would solve all file naming issues and support simple configure in ldms of --with-libpapi=/usr/local/lib/papi60.

[2020-10-13 19:42] morrone commented on #454
Sure, but if that is what you want to pursue that then you'll need to make a normal papi package for 6, not the approach you proposed in this ticket.

[2020-10-13 21:52] baallan commented on #454
if toss starts shipping /usr/papi/6.0 in the toss3 base, this ticket is unnecessary.

[2020-10-14 00:15] morrone commented on #455
The first thing to understand is that none of the build commands live "in the container", as currently implemented. The docker hub container that I created (morrone/centos7-ldms-build:latest) is just a base centos7 environment with a fairly minimal set of additional packages needed to build ldms (but not necessarily all of the optional components).

Right now there is only one github workflow set

[2020-10-14 17:09] Snell1224 commented on #455
Ah, okay that makes much more sense now.

Just to clarify, if additional workflows were created and pointed to the centos7 container, will these workflows will be added as an additional "check" for each PR automatically?

Also, does the centos7 container reside within the ovis git repo or a users personal repo? Just trying to understand how additional containers can be added and used as part of th

[2020-10-14 17:41] morrone commented on #455
No problem, I'm happy to share the info and have more people engaging!

Github workflows have an "on" section that describes the triggers that should launch the jobs listed in the workflow. In build-test-centos7.yaml, I have this section:

[code]

This means that the jobs will be run any time there is a push to the OVIS-4 branch, and any time there is a pull request initiated against the OVIS-4 br

[2020-10-14 19:49] Snell1224 commented on #455
Great, this has been very helpful! I'll definitely be referring to this later on and will let you know if I need any additional packages added to the container.
Thanks!

[2020-10-14 19:49] #455 closed

[2020-10-14 23:03] morrone commented on #454
Is that package something you plan to work on?

[2020-10-14 23:11] baallan commented on #454
I don't have a _plan_ to work on it. I could propose a spec file based on a prefix=/usr/papi/6.0 and the feedback to the atse spec file @morrone provided, but I do not have direct access to the toss spec files repo or build bot.

[2020-10-15 21:47] morrone commented on #454
I think that the spec file that papi itself provides seems pretty reasonable (with some minor tweaks to make it actually work...).

[2020-10-15 23:29] tom95858 commented on #454
@baallan What is the symptom you are experiencing? I am running the PAPI sampler successfully on RHEL 7, 8, Suse, and Cray.

[2020-10-16 16:48] baallan commented on #454
There's no 'symptom' per se. It's just that papi 5.2 is very old wrt hardware architectures and metrics it understands correctly. CTS1, CTS2, and nvidia are all newer. We pretty much always use papi 5.x where x=latest or papi 6.0, depending on how recently the particular profiling effort was started.

[2020-10-16 18:09] oceandlr opened #457 "autogen: subdir-objects"
Building on a changed system with the latest OVIS-4 branch.

new thing (to me) in autogen.sh (see below). What am I supposed to do??

Thanks
========================
ldms/src/sampler/hello_stream/Makefile.am:15: warning: source file '../sampler_base.c' is in a subdirectory,
ldms/src/sampler/hello_stream/Makefile.am:15: but option 'subdir-objects' is disabled
automake: warning: possible forward-inc

[2020-10-16 18:34] morrone commented on #454
It should probably be noted that the RHEL papi 5.2.0 package is not just 5.2.0 code. It also has 24 patches, some of which are backporting additional hardware support. Have we verified that things we need are missing in the rhel package, or are we just assuming from the version number?

[2020-10-16 18:40] baallan commented on #454
Omar has told us that 5.2 is insufficient for real work on modern platforms.

[2020-10-16 18:50] morrone commented on #454
I'm not sure who that is, and that answer didn't seem to differentiate between upstream 5.2 and rhel's 5.2.

[2020-10-16 19:03] tom95858 commented on #454
Can we get Omar to confirm that if we simply install the preferred version of PAPI, that our samplers will use that version? I'm not talking about build time, I'm talking about run-time. Modulo an API change, I don't see why that would not be the case. Pulling PAPI into our source feels like a maintenance nightmare.

[2020-10-16 19:32] morrone commented on #457
The other samplers appear to link against the sampler_base library one way or another rather than making sampler_base.c a source file. That would probably fix the warning.

Longer term it looks like the sampler_base library will be replaced with more built-in ldms APIs.

[2020-10-16 19:57] morrone commented on #454
@tom95858, what exactly is your concern about run time library use? Papi does version its library, so if we point the ovis build to the correct version at build time it should use the correct one at run time (although this does remind me that I may need to add an ld.conf.d file for this papi library location).

But I do not know much about papi. Are there things outside of libpapi.so that you are

[2020-10-16 21:04] baallan commented on #454
If we drop --disable-rpath from the toss builds, there's no need to worry about any ldms-specific ld.so.conf settings. Don't know if TOSS maintainers are ok with this yet.

@tom95858 no one proposed making papi part of our sources; I did propose making a specific packaging of papi embedded in the ldms layout so there would be no other TOSS package conflicts. With some chiming in from Chris, a TOSS

[2020-10-17 01:47] wooloo1121 opened #460 "Error starting ldms client from OVIS-4.3.4-alpha.1"
Hello,

In #434, we are recommended to use the latest 4.3.4 version to get compatible with lustre 2.12.

We just installed the version of ldms client from OVIS-4.3.4-alpha.1 while keeping the server side 4.3.3 for now. But when we tried to start the client process with command:
ldmsd -x sock:10001 -l /var/log/ldmsd.log -s /var/run/ldmsd.sock -r /var/run/ldmsd.pid -c /opt/ovis/config/ldmsd.conf

th

[2020-10-17 03:59] tom95858 commented on #460
Hi @wooloo1121, it looks like it's failing to find the transport or authentication plugin. These are loaded using dlopen(). The transport plugins are located using the ZAP_LIBPATH, and the authentication plugins are located using LD_LIBRARY_PATH environment variables. A guess is that one or both of these don't point to the correct location for your installation.

The authentication plugins have na

[2020-10-17 04:04] tom95858 commented on #454
Hi @morrone, I don't have a worry, but I didn't want to state unequivocally that it would "just work" without testing it myself. I'm simply asking Omar to do so because I believe it should.

[2020-10-18 03:04] tom95858 opened #462 "Distcheck failed on OVIS-4.3.4 release"
@morrone, did I mess this up somehow? I used the create release feature of github, but it seems to have failed the distcheck test.

[2020-10-18 03:19] morrone commented on #462
"distcheck" is just in the comment of the commit on the head of the branch. It didn't actually have anything to do with the failure.

The failure was in the "Create Release" workflow, and it was because you didn't use an annotated tag for the release. Please get in the habit of using annotated tags.

[2020-10-18 03:40] #462 closed

[2020-10-19 10:33] wooloo1121 commented on #460
@tom95858 Thank you!

[2020-10-19 10:33] #460 closed

[2020-10-19 10:39] wooloo1121 commented on #434
@baallan We installed 4.3.4 ldms client (keep the server side 4.3.3 for now), but lustre2_client still not working.

[2020-10-19 22:31] tom95858 commented on #434
Hi @wooloo1121, if by 'server side' you mean the sampler runnning on the compute, then that is the side that is running the lustre2_client sampler and therefore it will still be running the "old" code that doesn't have the support for the newer lustre stats file location. In other words, updating the "aggregator" alone won't resolve the issue.

[2020-10-20 00:26] oceandlr opened #464 "Error message if launch w/ munge but not built with munge?"
I built without --enable-munge, so no munge libraries built. I launched an ldmsd with -a munge and got no error message. I also queried it with ldms_ls -a munge and got no error message. Should there be?

[2020-10-20 00:31] oceandlr commented on #457
Are you advising against doing subdir-objects?

[2020-10-20 01:49] tom95858 commented on #464
Hi @oceandlr, it probably found a previusly built munge authentication library in your install/LD_LIBRARY_PATH. Perhaps there were no sets on the **ldmsd** you were querying?

[2020-10-20 01:51] tom95858 commented on #423
@morrone, can we close this?

[2020-10-20 01:51] tom95858 commented on #408
@morrone, can we close this?

[2020-10-20 02:09] oceandlr commented on #464
There were sets on the ldmsd. I did not see them with -a munge, but I did see them when I ran with -a none (thanks @baallan !)

I will check again to be sure that there isn't an old munge lib build. (I emptied out the build dir, but I will make sure I didn't have somewhere else, like a system installed version).

[2020-10-20 03:18] tom95858 commented on #464
@oceandlr can you point me at the host that exhibits this behavior. And can you show me exactly the commands that were executed.

[2020-10-20 03:25] morrone commented on #408
Yes, that is fine.

[2020-10-20 03:25] #408 closed

[2020-10-20 03:26] morrone commented on #457
Yes, I don't think we should do subdir-objects without a really good reason.

[2020-10-20 03:28] morrone commented on #423
Sure, the landed check is probably good.

[2020-10-20 03:28] #423 closed

[2020-10-20 06:14] wooloo1121 commented on #434
Hi @tom95858, sorry for not being clear. By "client", I mean the sampler running on the compute node.

Is there anything we need to do with the lustre file system to possibly "make it work with ldms"? Or is there any configuration specific to the lustre sampler we possibly missed?

[2020-10-20 09:15] weijianwen opened #465 "Request suggestion on visualizing and analyzing LDMS data"
Hi,

I started to collect monitoring data via LDMS then store them to SOS. I wonder if there are equivalent tools like TimescaleDB or Grafana in LDMS for visualizing and analyzing collected data. Say, how can I convert data from SOS then display it on Grafana?

Existing literatures discusses very little about this topic. Related projects may be sosdb-ui and sosdb-grafana which export SOS data via

[2020-10-20 14:53] baallan commented on #464
I did a pull and rebuild and test (centos 7) this morning. And the log for requesting munge shows:
Tue Oct 20 08:41:56 2020: DEBUG     : Checking for meminfo in /home/baallan/ovis/repos/v42lp/LDMS_install/lib/ovis-ldms
Tue Oct 20 08:41:56 2020: DEBUG     : msg_no 0 flags 3 rec_len 28 rsp_err 0
Tue Oct 20 08:41:56 2020: DEBUG     : msg_no 1 flags 3 rec_len 28 rsp_err 0
Tue Oct 20 08:41:56 2020: DEB

[2020-10-20 15:19] baallan commented on #464
@gentile if we merge PR #448, then the right error ("plugin %s not found in ZAP_LIBPATH=%s. Check that build and installation enables %s\n",plugname,path,plugname) could be logged at the right scope.

[2020-10-20 15:23] oceandlr commented on #464
OK, @baallan so you saw the error? Yeah, I thought @tom95858 's comment was probably correct -- it found an only one somewhere, so there was no error message, but because it was conflicting the query didn't work. I won't get a chance to try it till tonight.

[2020-10-20 15:35] baallan commented on #464
@gentile Yes, if there is an ovis installed to /opt or /usr that is in your LD_LIBRARY_PATH, then you will get the old version plugins because the ldms_auth  libraries are found via LD_LIBRARY_PATH instead of searching ZAP_LIBPATH due to how they are declared in the Makefile.ams (lib_LTLIBRARIES += libxxx.la instead of pkglib_LTLIBRARIES += libxxx.la) and dlopened.

[2020-10-21 01:47] weijianwen commented on #465
Thank you, @nick-enoent . I'm closing this issue then follow the repos above.

[2020-10-21 01:47] #465 closed

[2020-10-21 07:00] wooloo1121 commented on #434
Hi @baallan @tom95858 @morrone , thank you very much for your help and patience. We just tried with the tip of the OVIS-4 branch and modified the sampler configuration file to only collect llite data, then lustre2_client worked!

[2020-10-21 07:01] #434 closed

[2020-10-21 18:57] baallan commented on #434
@wooloo1121 The latest  lustre sampler should also work for other items than llite. If it does not work for you when properly configured, we need to fix it. All three (llite, osc, mdc) worked in our local testing.

But, there are often many more osc/mdc targets to monitor than llite items, so the ldmsd sampler daemons and aggregators may need to be configured with much more memory for these lustre

[2020-10-22 01:08] wooloo1121 commented on #434
@baallan Yes with "-m 2G" I could collect all the llite, osc and mdc data :)

[2020-10-22 15:44] baallan commented on #434
Thanks for confirming osc and mdc collection work on your platform.

[2020-10-26 01:28] oceandlr commented on #464
Well I'm printing out the LD_LIBRARY_PATH and it looks like its just the libs under my current build.  However, the explanation is rational and since @baallan can reproduce it, I assume I still have something somewhere. I am fine closing this.

[2020-10-28 16:49] baallan commented on #120
Fixed by pr #478

[2020-10-28 16:49] #120 closed

[2020-10-28 16:50] baallan commented on #119
finished with #478

[2020-10-28 16:50] #119 closed

[2020-10-28 21:41] baallan commented on #49
@morrone can we close this as being subsumed in change proposal 5?

[2020-10-28 22:09] baallan opened #479 "lustre2_client sampler on lustre 2.10 ovis 4.3.4 beta"
With lustre 2.10 (files in /proc/fs/lustre/[llite,osc,mdc]:
If I configure the sampler with 'llite=* msc=* osc=*', the sampler works, but the metrics are named funny (see below) with extra type and numeric suffixes.
If I configure it with the device name as expected 'llite=cls02006 msc=cls02006-MDT0000 osc=cls02006-OST0000' it fails (silently collect all-0 sets).
If I configure it with llite=cls02

[2020-10-28 22:12] baallan commented on #479
What I would really like to see is separate metric sets for each device or target, but for now making it name as in v3 with lustre 2.8 would be sufficient

[2020-10-28 22:13] baallan commented on #479
@morrone Are you running lustre 2.10 clients anywhere and seeing similar naming? Or only 2.12 clients?
This is on our toss3.6-6/lustre 2.10 client systems.

[2020-10-28 22:49] morrone commented on #479
We don't use the ovis provided lustre plugins. We use (where we use anything at all right now) the lustre client plugin from ldms-plugins-llnl that creates a separate metric set for each lustre filesystem mount (llite instance).

[2020-10-29 04:51] morrone commented on #454
I built papi 6.0.0.1 for toss 3 and 4. The packages install under /usr/papi600 as discussed in the TOSS jira.

But it looks to me like dropping --disable-rpath did not result in correct linking to papi. Configure worked (--with-libpapi=/usr/papi600 --with-libpfm=/usr/papi600 ), and the module all built, but I see:

[code]

and

[code]

I see the same for libsyspapi_sampler.so and libhweventpapi.so

[2020-10-29 15:55] baallan commented on #454
yes. makefile.am
libsyspapi_sampler_la_LIBADD = $(COMMON_LIBADD) -lpapi -lpfm -lpthread
is ignoring the library path that should be captured in configure if the user specifies other than /usr as the location of the papi and pfm libraries.

[2020-10-29 21:23] morrone commented on #454
I'm not sure that it is quite that simple. The "-Wl,-rpath" is being set in AM_LDFLAGS, but it is not working. First, I think we may be using the wrong rpath option. According to the libtool manual:

[code]

So it sounds to me like for libraries we are making, we need to use "-R libdir". It tried that, and it did result in the rpath being added. Next we need to either figure out how to make that r

[2020-10-29 22:06] baallan commented on #454
We may also need to change the libtool link flag flavor used depending on whether or not --disable-rpath is in use. When present, the assumption is that something elsewhere in deployment will make sure LD_LIBRARY_PATH is precisely what it needs to be.

[2020-10-29 22:11] morrone commented on #454
I'm not using --disable-rpath. It is not clear to me what you mean though.

[2020-10-29 23:03] morrone commented on #454
Alright I think I've got it figured out, more or less.

I am thinking of applying the same style of cleanup to the papi situation that I did to the slurm configuration options.

Do we need libpfm to be a separate --with option? It seems to come with papi now. Do we ever really expect it to be in a different library path that papi?

[2020-10-29 23:14] baallan commented on #454
For toss, i expect they will always be paired in /usr/papi*. In general (e.g. ubuntu), libpfm is a product independent of the papi authors and we should probably have the option to override the 'co-located w/papi' available for cases where it isn't.

re esthetic nits, consider including the dots in /usr/papi-6.0 ; The runtime compatibility check is going to match against exact X.Y of the X.Y.Z.R i

[2020-10-30 00:03] baallan opened #481 "jobid plugin does not follow perm bits option convention, leaving set data exposed"
The ldms_jobid plugin should apply the sampler_base auth configuration function to parse uid/gid/parm in the conventional way.

[2020-10-31 01:06] morrone commented on #454
I created PR #482 that fixes the configuration system issues and allows building against libpapi and libpfm in non-standard install paths.

[2020-11-01 11:06] wooloo1121 opened #483 "read/write bytes"
Hi,

We have the lustre2_client plugin working now thanks to your help :), but are still a little confused about the meaning of the metrics. Are the read_bytes and write_bytes cumulated values since a certain time or something else?

Besides, we are very interested in the total read/write byte amount produced by each job, are these values collected by ldms somewhere? from Lustre job stats for exam

[2020-11-02 15:58] baallan commented on #483
please see:
https://ovis.ca.sandia.gov/index.php/LDMS_Metric_Definitions
for lustre2_client. most of the counters are just increasing event/byte counters (that may eventually roll over at their upper bound-- integral metrics).

[2020-11-02 22:30] baallan commented on #483
We have created an analysis prototype which computes total & lustre usage rate per job based on the lustre client statistics.
This is not, however, part of ldms. It is part of the sos database and grafana development work byh SNL/OGC.

We have not created a sampler of lustre server-side job stats. If you would like to contribute one, that would be good to have.

[2020-11-02 22:33] baallan commented on #452
have you tried this with the most recent OVIS-4 head or beta-1 release?

[2020-11-03 01:58] wooloo1121 commented on #483
Hi @baallan, thank you for the reply. I also see metric like "client.read_bytes.rate" which seem to be zero for most of the time. Are they collected from somewhere or do you calculate them? and how are they calculated if so?

[2020-11-03 15:46] baallan commented on #483
There is was in an earlier ldms version of the plugin, a feature that attempted to compute rates of some metrics at the sampler. It does not exist in the present version 4, as far as I can tell.

[2020-11-03 21:36] baallan commented on #483
I highly recommend using the newer LLNL samplers for lustre client stats and server mdt/ost data. They are at:
https://github.com/LLNL/ldms-plugins-llnl
These plugins require less configuration and do not generate conflicting schemas on cluster systems where the mounted lustre volumes vary by host.

[2020-11-04 09:23] wooloo1121 commented on #483
@baallan Thank you for the suggestion. We tried installing the llnl sampler, it seems to work as the /var/log/ldmsd.log tells:
Wed Nov 04 12:55:10 2020: DEBUG     : lustre_client sample() called
Wed Nov 04 12:55:10 2020: DEBUG     : lustre_client llite_general_sample() scrfs-ffff8a9c191bb000
Wed Nov 04 12:55:10 2020: DEBUG     : lustre_client llite_general_sample() sjtu-ffff8ab33a353000

But we co

[2020-11-04 23:09] baallan commented on #483
I don't think there's anything special about the llnl plugin with respect to ldms_ls or stores.
You can successfully ldms_ls the meminfo plugin data set on the same node configured with the lustre plugin?

[2020-11-05 02:11] wooloo1121 commented on #483
@baallan Yes the other plugins configured works with ldms_ls.

It seems the llnl plugin is not "integrated" into ldms... Since it does not naturally come with ldms, is there anything else that needs to be done other than copying over the lib files? We don't find instructions on installing separate plugins.

[2020-11-05 16:26] baallan commented on #483
Since you have log lines indicating the lustre plugin started and found devices, it looks like the compile and copy to prefix/lib/ovis-ldms worked as expected.  The build should be ok unless you have multiple ldms installations on the build host and the build for the lustre plugin was configured with an ldms installation other than the one you copied the library to.

[2020-11-05 16:34] baallan commented on #483
If you can attach the entire daemon configuration file, the entire log file of the sampler daemon running with -v DEBUG, and the output file of "env > env.txt" and the output of "ldms_ls -lv $your_site_specific_args_to_ls" we might be able to spot something.

[2020-11-06 07:28] baallan opened #488 "store_flatfile needs v3 fixes ported up"
The flatfile store needs to be updated with changes from v3.
It also needs to have rollover support added.
It also needs to not require component_id if producername is present instead.

after these fixes, store_flatfile can then be used to  selectively and losslessly roll data into splunk via its universal forwarder without requiring pipes or 100% splunk uptime.

[2020-11-06 19:48] baallan commented on #331
RE the C api, perhaps modify set_new_with_auth(..., uid, gid, perm) to set_new_with_auth(..., struct auth_data *d); and a helper function:
[code]
The proliferation of getter/setter is somewhat annoying.

[2020-11-06 19:52] baallan commented on #128
@eric-roman I've extended the dstat sampler (daemon, watch yourself) to optionally monitor file descriptor usage. This pull request did not make it into 4.3.4-ga, but the sampler patch is easily applied if you want to use it routinely.

[2020-11-09 06:54] wooloo1121 commented on #483
@baallan We end up with installing ldms by default path and the llnl plugins begin to show up. To have the job stats plugins working, we install them on mds and oss nodes. Do they work well in your environment? since on oss node, it sometimes work with ldms_ls, sometimes we get the following:
first_line   : 0
last line    : 0
first column : 6
last column  : 9
str           : syntax error, unexpect

[2020-11-09 14:16] weijianwen opened #492 "Upload LDMSCON tutorial videos to YouTube"
I found Safari on iPhone or iPad cannnot play LDMSCON tutorial videos. For example, the video https://drive.google.com/file/d/1D5OCyo8NHMVtp1ca0teAruzBXLdqY1Dq/view seems hang on loading. Is there any plan to upload these google-drive-hosted videos to YouTube?

Thank you!

![IMG_218C3DBD38A0-1](https://user-images.githubusercontent.com/908249/98552205-25103980-22d9-11eb-8d67-37c6086a24c6.jpeg)

[2020-11-09 15:50] baallan commented on #483
@wooloo1121 please open a new issue. In it,
- give the exact lustre version running on the mds and oss servers where you see the issue.
- attach the entire ldmsd configuration file used to start the samplers.
- attach a file lls.log capturing the environment and ls data, e.g. script -c 'env && ldms_ls ...the_arguments' lls.log

[2020-11-12 06:01] wooloo1121 commented on #483
@baallan Thank you for the reply. It turns out a bug in the plugin, and they fixed it now.

[2020-11-12 06:01] #483 closed

[2020-11-12 07:00] wooloo1121 opened #510 "Error starting the ldms aggregator with the tip of ovis-4 branch"
Hello,

We tried to start the ldms aggregator with the tip of ovis-4 branch, but had the following error:
ldmsd: ../../../../lib/src/coll/rbt.c:639: rbt_del: Assertion `t->card' failed.

We didn't have it when using 4.3.3. Should the configuration of the aggregator side change in any way?
Thank you and look forward to your reply.

Our entire configuration file is as follows

[2020-11-12 16:03] #492 closed

[2020-11-14 03:23] wooloo1121 commented on #510
prdcr_add name=cas001 host=cas001 port=10001 xprt=sock type=active interval=20000000
prdcr_add name=cas002 host=cas002 port=10001 xprt=sock type=active interval=20000000
prdcr_add name=cas003 host=cas003 port=10001 xprt=sock type=active interval=20000000
prdcr_add name=cas004 host=cas004 port=10001 xprt=sock type=active interval=20000000
prdcr_add name=cas005 host=cas005 port=10001 xprt=sock type=

[2020-11-14 20:23] tom95858 commented on #510
Hi @wooloo1121, do you have a log from the failing aggregator?

[2020-11-15 01:24] wooloo1121 commented on #510
Hi @tom95858, the log for the above configuration file is very long (due to the many samplers on compute nodes and mds/oss servers), we turn to use the following configuration:

prdcr_add name=cas001 host=cas001 port=10001 xprt=sock type=active interval=20000000
prdcr_start name=cas001

updtr_add name=compute interval=60000000 offset=200000
updtr_prdcr_add name=compute regex=.*
updtr_start name=co

[2020-11-18 08:58] wooloo1121 commented on #483
@baallan Sorry for posting here again, but I just want to confirm something. We tried with 4.3.3 at the aggregator side, but it can't collect the per job metric sets generated by the llnl samplers and no job specific data are showing in the sos store. Is it because of something in the daemon hosting the store plugins? so the sets are not sent to the store plugins.. Thank you so much and look forwa

[2020-11-18 15:50] baallan commented on #483
Are you using the exact same version and build of ldmsd on all nodes? What version(s)? What transport (sock, fabric, rdma, ugni) are you using?

[2020-11-19 17:37] baallan opened #523 "ldms_ls default arguments not supported by ldmsctl"
ldms_ls [-a $auth_plugin] works for localhost/sock/411, but ldmsctl does not.

Is this just a shortage of 'round tuits' (in which case, I can look at fixing it), or is there some design intent that ldmsctl should force the command line user to be explicit about host, etc.?

[2020-11-22 04:58] wooloo1121 commented on #483
@baallan, Sorry for the late reply and thank you so much for your reminding. We changed to the exact same version (the latest) at both sampler and aggregator sides, tried with csv store and added the job stats schema. Now it works :)

[2020-11-22 05:01] #510 closed

[2020-11-23 15:33] #73 closed

[2020-11-26 05:28] nichamon commented on #523
@baallan ldmsctl 's -h option has no default values. Actually, ldmsctl has no default values for all command-line options, except for the -a option. This behavior is intended so that it has the same behavior as ldmsd_controller. I'm not against ldmsctl and ldmsd_controller having the same default values as ldms_ls's -x, -h and -p options. However, IMO, it is unnecessary to add default values now a

[2020-11-26 15:49] weijianwen opened #533 "Questions on SLURM samplers"
I found multiple SLURM-related samplers in OVIS, say `job_info`, `job_info_slurm` and `slurm`. How should choose between them? And is any of them capable of briefing SLURM, for example, number of pending/running jobs?

Thank you!

[2020-11-26 16:48] tom95858 commented on #533
job_info - this an ldmsd sampler.
* It reads from a file, parses the file contents and populates an ldms metric set with job data.
* It uses inotify to awaken when the file it is configured to read is written
** Note that if the file is written multiple times, the sampler will awaken and attempt to parse it after every write. Care must be taken to write the input file with consistent data, all at

[2020-11-27 03:30] #533 closed

[2020-11-30 22:00] tom95858 commented on #452
Hi @MAChenliang , can you please close this if it is no longer an issue?

[2020-12-04 14:05] weijianwen opened #540 "How to enable contrib plugins?"
Hi,

I found contrib plugins code in ovis/ldms/src/contrib/sampler/, which may help me get desired IPMI sensor metrics. I wonder how to enable them during building.

Thank you!

[2020-12-07 05:43] wooloo1121 opened #541 "contribute a new store plugin (TimescaleDB)"
Hi,

We developed a store plugin to save data into TimescaleDB, the code is currently placed under ovis/ldms/src/contrib/store in our forked repository https://github.com/SJTU-HPC/ovis/tree/timescaledb_store_plugin . We are considering to contribute it to you, can we just create a pull request? And is it placed in the right directory?

Thank you and look forward to your reply.

[2020-12-08 20:02] ovis-hpc commented on #541
That looks very interesting.

From a quick look at your repo:

Including an complete example test/demo configuration file (not embeded in a man page) would be helpful. Apologies if it's there and I somehow overlooked it.

The contribution needs a clear LICENSE file indicating how your institution/company licenses this code contribution before we can merge it into our code repo. Ideally we also nee

[2020-12-09 09:02] wooloo1121 commented on #541
@ovis-hpc Thank you for the reply. We adjusted the password configuration to reading the password from file whose path should be specified in the configuration file, and added a demo one (example.conf). A license file is added. But for the "documentation" you asked, we're not sure. Do you have a template that we can use as a reference? And does it need to be signed by the university or ok just by

[2020-12-09 16:01] baallan commented on #541
@wooloo1121 Most universities have intellectual property policies that need to be followed, where signature authority rests with some administrative official/department. I have no idea how it works in your specific institution, but usually research staff/students do not have it. @valleydlr @oceandlr may have more specific experience; I can't tell from github messages what your institution is.

We

[2020-12-09 19:26] baallan commented on #540
You need to add --enable-ipmireader to the configure options when building.

[2020-12-09 20:04] baallan commented on #533
@weijianwen Tom left out the older jobid sampler; job_info is mostly a better replacement for it, but jobid is still usable for single-user-per-node situations and it collects a bit less data.

[2020-12-10 05:56] wooloo1121 commented on #541
Hi @baallan, we are HPC center at Shanghai Jiao Tong University (Shanghai, China). I contacted relevant departments of our university and they don't have any documentation for this. We think it's fine to go without it, but if you really need one we could make a document and get it signed by our center leader. Please let me know which way you  prefer. Thanks.

[2020-12-10 09:21] #540 closed

[2020-12-11 15:54] #481 closed

[2020-12-11 15:56] #457 closed

[2020-12-14 08:54] #452 closed

[2020-12-14 08:54] #418 closed

[2020-12-17 20:10] tom95858 commented on #541
Hi @wooloo1121, if this sampler is a derivative work, then all you need to do is retain the existing copyright and add your institution's name to the top of that copyright. The existing copyright holders remain, and your institution "HPC center at Shanghai ..." would be added to the list of copyright holders.

So what is a "derivative work?" In the simplest terms, this means that you created the s

[2020-12-18 07:17] wooloo1121 commented on #541
Hi @tom95858, thank you for the reply. We added ourselves to the copyright lines as you suggested, and created a pull request https://github.com/ovis-hpc/ovis/pull/562 . Please let us know if there is any more we should do. Thanks.

[2020-12-21 19:35] oceandlr commented on #464
In the current release (see today's date): You do get a log message if using ugni. You do not get a log message if you use sock. Might be an issue in different paths taken.

[2020-12-23 06:58] morrone opened #564 "Way to determine number of lingering metric sets?"
When metric sets have had ldms_set_delete() called on them, they may linger for some time. Is there some way to determine how many metric sets are stuck in that state? Via command line? Via API from a sampler plugin?

[2020-12-23 16:36] baallan commented on #564
@morrone what release of ldms are you working with? Latest patches just fixed a bunch of stuff related to reference counting that may affect what you see.

[2020-12-23 17:44] morrone commented on #564
In this issue, lets please stick to the question I posed. I am not the one seeing the problem, so I cannot answer questions like that. There may or may not be follow up issues later; but it is too soon to say.

Nevertheless, I still wonder if there is some tool or API that would allow us to look at the outstanding metric sets in the deleted-but-not-yet-deallocated state, and that is what I'd like

[2020-12-23 21:05] tom95858 commented on #564
Hi Chris,

The simple answer is "no", but we could trivially add this to
ldmsd_controller.

Here is some background.

The sampler (PAPI for example) sees that the job is gone and after some
period of time decides to destroy a set by calling ldms_set_delete. This
function runs through the set of clients that have "looked-up" this set and
calls ldms_xprt_set_delete() for each one of them. This sends

[2020-12-23 21:36] tom95858 commented on #564
@morrone, I'll add a set_stats command to ldmsd_controller to gives us information on the number of sets in each state and the state of memory in the "set heap". This will be in the OVIS-4.3.6 release soon to come out.

[2020-12-24 00:11] morrone commented on #564
@tom95858 , yes that helps, thank you!  Just FYI, the impetus for this inquiry is llnl/ldms-plugins-llnl#6.  They have a _very_ large number of dynamic job stats metric sets, 40000, from the llnl_lust_ost plugin. They see that the new job stats stop showing up over time, and the logs show that my plugin is likely failing on the ldms_set_new() call.

I do still need to review my own code and make s

[2020-12-25 11:01] wooloo1121 opened #566 "lustre2_oss sampler support lustre 2.12?"
Hi,

Does the lustre2_oss sampler support lustre 2.12? since it reports zeros for fields like req_waittime and I don't see path /sys/kernel/debug in its source file.

By the way, which field in lustre stats files does metric like req_waittime and req_qdepth take from (last, min, avg or max)?

Thank you so much and look forward to your reply.

[2020-12-27 21:08] morrone opened #568 ""Fix Slurm step handling in Spank plugin" commit is faulty"
The recent commit titled  "Fix Slurm step handling in Spank plugin", commit 4a28e2c73b1409ef8378785729780c88d62d50b0, has a couple of incorrect assumptions that will need to be fixed. It really should have gone through the code review process before landing on the OVIS-4 branch.

The "init" hook that is called in slurmd is not useful for identifying job start and end times. A slurmd is a long live

[2020-12-27 21:29] oceandlr opened #569 "conversion to organizational account: thread"
on 2020.12.27 - ovis-hpc was changed to an organizational account. report any immediate issues here

[2020-12-27 21:31] oceandlr commented on #569
@morrone  please let us know if you can edit the wiki

[2020-12-27 21:40] oceandlr commented on #99
Closing this issue. It will be moved to discussions

[2020-12-27 21:40] #99 closed

[2020-12-27 21:54] oceandlr commented on #569
closing as an issue. moving to new discussions

[2020-12-28 02:42] morrone commented on #569
@oceandlr, unfortunately no, I cannot edit the wiki. Where is that new discussion taking place?

[2020-12-28 06:03] tom95858 commented on #568
Hi @morrone, yes this is an accidental WIP that was pulled in inadvertently with the timescaledb drop.

[2020-12-28 17:05] oceandlr commented on #569
oops -- discussion is there now.

[2020-12-28 17:05] #569 closed

[2020-12-28 23:58] oceandlr opened #574 "reduce publishing utilities?"
1) Can ldms/src/samplers/hello_stream/hello_publisher.c be deprecated?
2) Possibly also ldms/src/samplers/hello_stream/hello_cat_publisher.c which I wrote to be a better version of the above to also support publishing to a file with a single connection overall.

Looks like ldms/src/ldmsd/test/ldmsd_stream_publish.c has at least the same intent as hello_cat_publisher.c

If ldmsd_stream_publish.c is

[2020-12-29 01:18] morrone commented on #541
It looks like #562 landed as a single squashed commit @tom95858 created, so this issue now appears to be complete.

[2020-12-29 01:18] #541 closed

[2020-12-29 19:07] morrone commented on #568
I think it would be a good idea to revert commit 4a38e2c and just have the complete, clean fix in a new commit in the future.

[2020-12-29 19:33] morrone commented on #87
No longer used in TOSS packages. I would suggest dropping this from the tree, but that is probably a discussion for another ticket.

[2020-12-29 19:39] morrone commented on #402
I think this was complete.

[2020-12-29 19:39] #402 closed

[2020-12-29 19:42] tom95858 commented on #568
Agreed.

On Tue, Dec 29, 2020 at 12:08 PM Christopher J. Morrone <
notifications@github.com> wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2020-12-29 19:49] morrone commented on #80
Just looked at this, and it may instead be that lib/src/ovis_auth is built unconditionally, where as openssl support is currently conditional.

[2020-12-29 19:59] morrone commented on #80
lib/src/ovis_auth is conditionally built when ENABLE_OVIS_AUTH is set. But ENABLE_OVIS_AUTH just tells us what was wanted on the command line, it doesn't tell us if we have the needed dependencies.

[2020-12-31 08:44] morrone commented on #574
This seems reasonable to me in general (to remove hello_*). One piece that might be missing is a server side tool to dump streams to the log file (or some other location) for testing. Or does that exist as well?

As to the error, what does your file look like? Is it valid json? Either way, I think that sounds like it is worthy of opening a new issue. Better error messages would be appreciated even

[2021-01-01 22:31] oceandlr commented on #574
1) The hello_sampler plugin dumps messages to the log file.
2) It is valid json. It might be timing out on the messages, but hello_cat_publisher publishes them all just fine. I didn't dig too deeply though -- since we are using the streams more in production now, it's a good time to discuss the intended tool set.

[2021-01-02 16:59] tom95858 commented on #574
There are other samplers as well that I would like to deprecate, e.g. rapl.c, hweventpapi.c, etc... I had imagined moving these samplers to a sub-directory called 'deprecated' and force them to be individually enabled before deleting them altogether.

[2021-01-02 18:31] oceandlr commented on #574
Let's keep the **sampler** (hello_sampler), since its very useful for testing the streams.
I'm talking about the additional **utilities** that go with it (hello_publisher, hello_cat_publisher, and ldmsd_streams_publish).

We can ditch hello_publisher right now. I think we could ditch hello_cat_publisher, if I could understand why I'm getting error messages for ldmsd_streams_publish but not for hel

[2021-01-03 19:15] baallan commented on #87
@morrone maybe it's no longer include in your packaged versions, but it is needed to deploy ldms in toss @snl.
yes, removing it (or not including it in toss packaging) is a discussion for other tickets,  probably on a different tracker.

[2021-01-03 20:31] tom95858 commented on #87
Aren't we completely redoing the Sandia install on the CTS machines to v4?

On Sun, Jan 3, 2021 at 12:16 PM Benjamin Allan <notifications@github.com>
wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-01-04 21:12] oceandlr commented on #574
Just talked with @valleydlr  and @tom95858. We will:

-  keep hello_publisher.c -- since its a nice trivial tester
- drop hello_cat_publisher.c once we have verified that ldmsd_streams_publish does work from top of tree
- probably move ldmsd_streams_publish and ldmsd_streams_subscribe out of ldmsd/test so people know they can use them more generally as tools.
-

[2021-01-06 16:14] baallan commented on #87
@tom95858 no. minor updates to genders files only (to correct for plugin behavior changes).
The next anticipated major changes to configs in snl toss deployments would be:

- an extra daemon instance to consume/serve app stream traffic.
- simplifying 'local' configurations to point at a 'global' configuration info service (maestro?)
-
With the latter, the genders usage would become like that sugge

[2021-01-07 08:44] MAChenliang opened #585 "Set ipmisensors is inconsistent."
Hi,I got a problem when I tried to store the data from ipmisensors sampler.

I tried to use the store_csv and timescale-store.FinalIy,I got the same log output : Set cas200/ipmisensors is inconsistent.

[code]

[2021-01-08 17:34] #80 closed

[2021-01-08 18:52] morrone commented on #87
@baallan , I still haven't heard a reason why ldmsd-wrapper.sh is required in v4 packages. If you have started those other tickets/conversations, please point me to them. If I don't hear anything I will not plan to take any further action on this.

[2021-01-08 20:22] brandongc opened #587 "LDMS support for UNCORE counters"
It would be great if the syspapi sampler supported collection of UNCORE counters.

Access to UNCORE counters on Haswell and KNL will allow for collection of memory bandwidth.

These counters are available via perf.

On KNL:

[code]

[code]

[code]

[code]

on Haswell

[code]

[code]

[code]

[code]

[2021-01-09 20:06] tom95858 commented on #585
@MAChenliang, the store will not store metric-set data in the 'inconsistent' state because it implies that the metrics in the metric set were gathered at different times.

A metric set has a flag "inconsistent" that means that the set is in the process of being updated. If you look at the ipmisensors sampler, this is the logic in between the ldms_transaction_begin() and ldms_transaction_end() call

[2021-01-09 20:14] #568 closed

[2021-01-11 16:24] baallan commented on #87
@morrone maybe it's no longer include in your packaged versions, but it is needed to deploy ldms in toss outside your institution. Specifically, the genders-based daemon configuration used at snl/lanl still requires ldmsd-wrapper.sh.
There it provides the following:

- logging of the detailed startup command
- tuning of optional numa and audit tool wrappers in production mode
- elimination of the

[2021-01-11 17:58] brandongc commented on #587
@tom95858 From what I understand you already talked with Eric about this? I didn't see a public issue with the request so apologies if there is already one somewhere.

[2021-01-11 18:47] tom95858 commented on #587
@brandongc, I don't think I have. We would need to extend the namespace that we use to map the event names used to configure. Right now they are limited to the ones supported by PAPI.

[2021-01-11 19:41] morrone commented on #87
OK, I'll reopen this ticket if this is where the ldmsd-wrapper.sh removal from the TOSS packages will occur.

[2021-01-11 21:00] morrone commented on #87
Oh no! It looks like I got confused, or made a typo at some point. There are two similarly named "wrapper" scripts: ldms-wrapper (installed as ".ldms-wrapper") and ldmsd-wrapper.sh.

It is actually "ldms-wrapper" that has been dropped from the v4 toss packages. Or technically the script remains at the moment (I will probably remove that next), but the rpm shenanigans that replaced the ldmsd and ot

[2021-01-12 18:14] brandongc commented on #587
The papi native equivalents for those perf events are:

KNL

[code]

Haswell

[code]

[2021-01-14 05:28] tom95858 commented on #587
Hi Brandon,

Then I am confused. The syspapi sampler uses this:

rc = PAPI_event_name_to_code((char*)papi_name, &papi_code);

to convert PAPI names to PFM event codes. Can you please give me specific
information about what is not working? If there is a PAPI event name, then
this should work.

Thanks, Tom

On Tue, Jan 12, 2021 at 11:15 AM brandongc <notifications@github.com> wrote:

--
Thomas Tucke

[2021-01-14 16:59] baallan commented on #587
@tom95858 Seems like all the logic around events in syspapi (after the name lookup)  is looped over cores:
for (i = 0; i < NCPU; i++)
so an uncore related name should make things fall apart in some way, right?

[2021-01-14 19:08] brandongc commented on #587
Sorry, I don't have any logs/ errors from when we tried this at the moment (it was some time ago).

I think the issue is with the assumption that all events are per core.

[2021-01-14 19:19] tom95858 commented on #587
Hi Brandon,

Ok, thanks for root causing this. I'll take a look.

Tom

On Thu, Jan 14, 2021 at 12:09 PM brandongc <notifications@github.com> wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-01-14 22:02] tom95858 commented on #587
There are at least three issues with this:

   1. syspapi checks the component and if it is not "perf_event", it will
   issue an error for the event
   2. syspapi assumes that all events are per-core, i.e. the data returned
   when the event is sampled is an NCPU array of values.
   3. syspapi creates an NCPU deep array in the metric set for each event

The 1st issue is easily fixable by simply c

[2021-01-15 23:09] brandongc commented on #587
It would be great to have this in the PAPI sampler as well, but initially we could proceed with just syspapi.

[2021-01-18 02:04] oceandlr commented on #574
Update: ldmsd_streams_publish for json is only for 1 item in the file. hello_cat_publisher does line by line, but has a max char per line. I think for now, I will leave this as is. We can revisit it later.

[2021-01-18 02:04] #574 closed

[2021-01-20 20:57] baallan commented on #454
It appears toss 3.7-4 resolves this issue with the placement of papi600 and papi600-devel packages.

[2021-01-20 20:57] #454 closed

[2021-01-21 01:54] MAChenliang commented on #585
@tom95858 ,thanks for your answer.

I observed that ipmisensors set has a high probability of being 'inconsistent' state. But,after I increase the interval，the 'inconsistent' state no longer appears.

Not sure if this is related to my restarting the node for other reasons before. I remember I also tried to set different internvals before.

[2021-01-21 08:36] #585 closed

[2021-01-21 18:09] baallan opened #598 "ldms_ls missing error message"
When using shared secret, the following incantation returns the wrong message:

[code]

The problem with the incantation of course is the -A missing before the conf=/... .
Instead of appearing to be connecting to an empty daemon, it should be issuing some sort of message about "authentication method 'ovis' missing parameter given by '-A conf=passwordfile"

[2021-01-21 18:21] tom95858 commented on #598
ldms_ls or any *nix command can't know whether
[code]
is the name of the metric set you are looking for or the argument for an option you've neglected (-A). This is simply the way that *nix argument parsing works. The _ls_ command has the same behavior, e.g.

[code]
... missing -w option

[2021-01-21 18:21] #598 closed

[2021-01-21 18:25] baallan commented on #598
@tom95858 That's a ridiculous statement for this situation.
ldms_ls certainly knows it's processing the "-a " argument and that -a may need an adjunct -A argument.

[2021-01-21 18:27] tom95858 commented on #585
@MAChenliang , The ldms_ls command reports the time it takes the sampler to collect the data. For example:

[code]
In this example,  it took the sampler **2,113 us** to update the metric set's contents. Take a look at that value for you're impisensor sampler and it will let you know what may be reasonable for an update interval at the aggregator.

[2021-01-21 18:36] tom95858 commented on #564
This is addressed by commit-id 0889f3783b7ab34be0c81a54b7b244d63e322bbe in OVIS-4.3.6. Here's some example output:
[code]
The *deleting_count* in the example above is the number of sets that are "stuck" waiting for peers who have looked up the set in the past to acknowledge that the set is being deleted. Please reopen if this doesn't address the issue.

[2021-01-21 18:36] #564 closed

[2021-01-21 18:52] tom95858 commented on #598
@baallan, -A is an optional argument. If -A were required then you would receive the expected error message. Absent that, ldms_ls would have to presume that -A must follow -a, but again that's not how *nix option parsing works.

[2021-01-21 18:54] baallan commented on #598
@tom95858 The issue here isn't at the parsing stage, it's in auth error handling paths.

[2021-01-21 19:09] morrone commented on #564
Cool, thanks!

[2021-01-21 19:22] tom95858 commented on #598
@baallan, auth didn't fail in this case; it succeeded, and therefore did not go down the "auth error handling paths." Auth succeeded, the connection was established, a lookup was requested for the set named conf=/... and the remote peer could find a set by that name.

[2021-01-21 19:58] baallan commented on #598
@tom95858 upon further inspection, you are correct-- the ls found a copy of the same secret value in a forgotten standard location. So the issue then becomes:

When issuing message 'ldms_ls: No metric sets matched the given criteria', the "matching criteria" should be echoed at the end of the message. This would make the command line syntax issue immediately obvious in many cases, including the on

[2021-01-21 20:36] tom95858 commented on #598
@baallan, recognize that what you will get is something like this:
[code]
Note that in the last case, there would be no error even though conf=/oops is clearly not intended. Otherwise, I have no issue with adding the match criteria to the message.

Note that the change to the message format may break some test scripts.

[2021-01-21 20:45] baallan commented on #598
If there is a back compatibility concern, then we could enable the extra message details only when adding some form of debug option.  Then for any "ls doesn't work as expected" request, we could respond with "have you tried adding -D to get clues?".

[2021-01-22 07:06] Mrxun-JN opened #601 "some suggestion about the dependences"
I m trying to install this in my Linux Server, at first , i used the default configuration , that is /usr/bin/bison & gcc 4.4.7 , i had met some errors
1) make[4]: Entering directory `/GFPS8p/zouxun/software/ovis-ldms-4.3.6/lib/src/ovis_json'
bison -y --defines=ovis_json_parser.h -o ovis_json_parser.c ovis_json_parser.y
ovis_json_parser.y:58.18-21: syntax error, unexpected identifier
make[4]: ***

[2021-01-22 16:34] tom95858 commented on #601
@Mrxun-JN, could you please try setting your locale to LANG=en_US.UTF-8 and rebuilding?

[2021-01-22 20:04] tom95858 commented on #598
@baallan, I'm not sure we're on the same page. The -D option would require adding tests to verify the **new** option to avoid changing the **old** test cases. I'm simply pointing out that this change may require changing existing test cases.

[2021-01-25 01:16] Mrxun-JN commented on #601
okey，i will add some notes.

[2021-01-25 19:25] baallan commented on #598
@tom95858 I would much prefer to keep all existing test cases working and just add -Dxxx (which could well have other uses like changing the log level on the _ls side).

[2021-02-03 22:58] morrone opened #609 "OVIS_FLEX and OVIS_FLEX_UNION?"
Can someone describe to me the reason for OVIS_FLEX and OVIS_FLEX_UNION defines in ldmsd_request.h? If anything they seem to serve to make the code harder to read. Just using a zero would have been a lot more clear to me rather than hiding the zero in a define that I have to go look up. And why we need two defines for zero is especially unclear.

[2021-02-04 16:42] baallan commented on #609
The reason is changes in ISO C and in gcc support thereof for the flex language feature. 0 and empty get compiled to different things, only one of which is right, in various circumstances.

[2021-02-04 18:16] tom95858 commented on #609
Hi @morrone, I don't think it has anything to do with an ISO C language feature per-se, it has to do with FORTIFY which you probably know is a gcc extension intended to detect memory object overruns at run-time.

However, FORTIFY has problems (one might say bugs) when handling flexible array members in structures. In particular:

[code]
The LDMS code all previously used the K&R method, which is no

[2021-02-04 20:34] morrone commented on #609
Thanks! That makes sense.

[2021-02-04 20:34] #609 closed

[2021-02-04 20:40] brandongc commented on #587
Hi Tom,
No pressure, but for our own planning is there any time frame for this? Or something else we can provide to help?

Thanks,
Brandon

[2021-02-04 22:54] tom95858 commented on #587
Hi Brandon,

It's on my list.  Pressure let's me know what's important to users so no
worries 👍

On Thu, Feb 4, 2021, 1:40 PM brandongc <notifications@github.com> wrote:

[2021-02-07 04:28] trecakov opened #616 "Configuration warning on all the flags"
I am trying to build ldms on centos 7 and I am having a warning when trying to configure it.

.....
config.status: executing libtool commands
configure: WARNING: unrecognized options: --enable-jobinfo, --enable-jobinfo-slurm, --enable-papi-sampler, --enable-slurm-sampler, --enable-hweventpapi, --with-libpapi

All the dependencies should be installed, as well as papi and sos.

Please advise.
Thanks

[2021-02-07 17:46] tom95858 commented on #616
I think these are harmless warnings. There has been some configuration changes and the README.md/examples may be out of data.

[2021-02-08 05:39] trecakov commented on #616
Thanks

[2021-02-08 05:39] #616 closed

[2021-02-09 19:34] baallan commented on #479
currently the sampler also ignores the schema= argument when it is supplied. Schema stays lustre2_client.

[2021-02-15 15:25] a9binh opened #631 "Problem installing OVIS on Cray CLE 7.0"
Hi,

I'm currently working on a project that needs ldms to gather some data from the Cray XC50 systems. I followed the instructions

here: https://github.com/ovis-hpc/ovis
and here: https://github.com/ovis-hpc/ovis-wiki/wiki/Building-LDMS-with-gpcd-on-the-XC40-with-Rhine-Redwood

to build it from source on a Cray node with CLE 7.0.

I used the PrgEnv-gnu and unloaded PrgEnv-cray as in the instruct

[2021-02-15 19:36] baallan opened #632 "permissions not quite honored"
I'm running a test where if the set has defaulted perms (-v shows rr- / 440) and the daemon is accepting auth=none connections, I get back results from ldms_ls. (this is as expected). All is running as root in a test cluster).
If I enable auth=munge, then (when running both ldms_ls and ldmsd as root) I get no results back from ldms_ls. This is unexpected.
If I extend the test config to include non

[2021-02-15 20:24] baallan commented on #631
@a9binh What release tar file did you get, or are you using the tip (branch OVIS-4) via git clone?

[2021-02-15 20:25] tom95858 commented on #632
It should have nothing to do with seteuid since that doesn't control whether or not a set is visible. That said, I'm going to revert the seteuid patch, I don't think it is necessary and is causing confusion.

[2021-02-15 20:26] a9binh commented on #631
Hi, I used the branch OVIS-4 via git clone.

[2021-02-15 20:29] baallan commented on #632
No need to revert the seteuid patch on account of this problem. I suspect the two are independent, since I'm running everything in the test as root. I would expect the seteuid patch to be inactive based on its if tests.

[2021-02-15 20:46] baallan commented on #631
what does
git log |head -n 1
show in your clone directory?

[2021-02-15 20:49] a9binh commented on #631
~/ovis/OVIS-4> git log | head -n 1
commit de3c5c3493b95bbe411326cb62b2cf6f183ebe1b

.. and thanks for looking into this.

[2021-02-15 21:12] baallan commented on #631
If you run
ldms/scripts/ldmsd-check-env
what do you get?

I built ldms using the same commit and do not get the error message you do.
But I am on a different platform/user environment with
gcc version 4.8.5 and
CFLAGS="-O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector --param=ssp-buffer-size=4 -m64 -march=native"

[2021-02-16 13:23] a9binh commented on #631
I was using gcc from the OS (SLES15). Switching to the Cray provided version seemed to work:

[code]
Output from ldmsd-check-env:
[code]
I also added your extra flags above. make passed but I got 'type format' and 'unused variable/value' warnings. All of them are from ```cray_system_sampler```. For example:

[code]

Should I be worried about those warnings? My next step is to continue with your on

[2021-02-16 15:46] baallan commented on #631
@a9binh glad you have better luck with a different compiler. You should probably use the CFLAGS value from the online cray examples instead of the precise set I mentioned (which are from a redhat 7 build). I only mention them to illustrate that how the code is built varies with compiler or compiler release.

@tom95858 does many of our Cray builds and may have more information on whether those warn

[2021-02-16 15:58] a9binh commented on #631
@baallan Right, I'll look for the Cray specific flags, thanks.

[2021-02-16 16:44] tom95858 commented on #631
@a9binh, I am building on CLE7. Here's the module list:

[code]

Here's the relevant portion of the spec file:

[code]

Hope this helps...

[2021-02-16 20:16] a9binh commented on #631
@tom95858 it helped, thanks. I enabled all Cray related options. It looks like this version of the configure script doesn't support the following options:

[code]
Other than that, 'make' was smooth/quiet when some of the CFLAGS were removed.

[2021-02-18 21:41] morrone commented on #632
I am also running tests with munge and root for both ldms_ls and ldmsd, with 0440 perms, but I am not seeing the problem that you are reporting. I am also on the tip of OVIS-4.

Maybe you could provide more details about your setup?

[2021-02-18 22:34] baallan commented on #632
@morrone execution details from munge/perm problem:

[code]

The sampler daemon config file is below. If I flip the comment on the 2 config lines, then ldms_ls works for both daemons.
[code]

All the above is generated using a lightly modified version of the opa2 input scripts for ldms-static-test.sh. the mods introduce the use of "-a munge" In the ps output of ldmsd lines, you'll notice that the

[2021-02-18 23:05] morrone commented on #632
I'm not entirely sure that I follow this example. You talk about "host 1" and "host 2", but are these really running on different hosts or on the same host? I think maybe you are just using the wrong term there, and really this is all running on the same host? Just different ldmsd daemon instances running on different ports?

And you talk about "host 3", which uses a third port, but I'm not sure t

[2021-02-18 23:45] baallan commented on #632
I can send you the tar of the complete output tree; I shouldn't post it here.
'host' means daemon instance; they are all on the same host.
I didn't paste the startup line of the 3rd (agg) daemon into the message, because it is behaving the same as daemon 2 wrt _ls.
I ran diff on the two conf files; same except for comment headers. They are generated from the same 'prolog.sampler'.
The only signifi

[2021-02-18 23:57] morrone commented on #632
I can't reproduce the problem with a simple meminfo test that I created.

My recommendation would be to whittle down the complexity of the example until you have a simpler reproducer, or perhaps until the problem goes away and that might point to a problem with the last thing that was whittled away.

[2021-02-19 01:08] morrone opened #637 "Validating incoming ldmsd requests"
Maybe I'm missing something, but at first read it does not appear that we are correctly validating incoming requests in the ldmsd.

For instance, when we are iterating through the attributes in the request, we call "ldmsd_next_attr()" a number of time. This function seems to blindly trust the attr_len in each of the attr structures. How do we know that attr_len is not incorrect, and directing the

[2021-02-19 12:58] a9binh commented on #631
I just wanted to confirm that I could be able to install OVIS-4 and run some tests on the Cray XC50 with CLE7.0.

Thanks @baallan and @tom95858 for your help. Will open ticket if I run into any other issues.

[2021-02-19 14:18] #631 closed

[2021-02-19 17:48] tom95858 commented on #637
I think you are correct. We should be validating that the attr_len in the attribute does not run past the end of req->len. We should also ensure that the strings (which they all are) are null terminated, i.e. attr->u8_value[attr->len] == '\0' or something like that.

BTW, I spent a few days creating a v2 configuration protocol. This protocol marshals the messages into and out of structures that ar

[2021-02-19 18:02] morrone commented on #637
At least in concept that would be so much better!

[2021-03-04 05:10] oceandlr commented on #444
@tom95858 Up above is the comment that multi instance plugins might be back ported to OVIS-4. Has that happened or is it in the cards anytime soon? Multi-instance for stores would be particularly beneficial as there is a lot of logic around handling that all in one store and might also make some performance tuning easier. (Adding @valleydlr )

[2021-03-10 23:56] baallan opened #657 "leaks in need of repair"
ldmsd_request.c:
prdcr_subscribe_regex_handler leaks stream_name variable on each call.
stream_subscribe_handler leaks stream_name on each call.

[2021-03-18 12:28] LutzWeischerFujitsu opened #670 "build fails on AArch64, Fedora 33"
[jw@cn06 build]$ make VERBOSE=1 -j$(nproc)
make  all-recursive
make[1]: Entering directory '/data/jw/ovis/build'
Making all in lib
make[2]: Entering directory '/data/jw/ovis/build/lib'
Making all in src
make[3]: Entering directory '/data/jw/ovis/build/lib/src'
Making all in third
make[4]: Entering directory '/data/jw/ovis/build/lib/src/third'
make[4]: Nothing to be done for 'all'.
make[4]: Leaving

[2021-03-18 14:18] baallan commented on #670
@LutzWeischerFujitsu  please also provide the version of gcc you are using.

[2021-03-18 14:20] baallan commented on #670
It appears this is likely related to:
https://bugzilla.redhat.com/show_bug.cgi?id=1856765

[2021-03-18 17:44] baallan commented on #670
I have created a patch #671 which resolves this (and the warning from ld in older versions about using sys_errlist).

[2021-03-19 07:19] LutzWeischerFujitsu commented on #670
[jw@cn06 jw]$ gcc --version
gcc (GCC) 10.2.1 20201125 (Red Hat 10.2.1-9)
Copyright (C) 2020 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[jw@cn06 jw]$

Thanks. Installing mgetty didn't solve it. Please notify when the master is updated.

[2021-04-08 15:23] baallan commented on #670
This has been fixed at the tip of OVIS-4 by #672

[2021-04-08 15:24] baallan commented on #479
the llnl lustre plugins are now in the main tree, so this issue is no longer concerning.

[2021-04-08 15:24] #479 closed

[2021-04-08 15:36] baallan commented on #362
@morrone @tom95858 before i run down the rabbit hole, is either of you already working on / done with creating a set-per-device version of samplers procnetdev or sysclassib?

[2021-04-08 18:13] morrone commented on #362
I do have an overhaul of sysclassib that does set-per-device. I called it "ibmad" to differentiate it.

https://github.com/LLNL/ldms-plugins-llnl/blob/main/src/ibmad.c

I can upstream that next. It does not work on our CORAL systems where there are "virtual" IB devices, but sysclassib doesn't work there either, so that isn't a regression.

[2021-04-08 20:03] baallan commented on #362
thank you. do we have any alternative to monitor the fast network on coral? or does all hsn traffic show up in /proc/net/dev?

[2021-04-08 21:36] morrone commented on #362
No, some day I'd like to get ibmad working there. It will take some digging though, because the virtual interfaces are not easy to identify yet. ibmad, like sysclassib, opens a single connection through which to get all interfaces' information. It may be the next step is to drop that inherited simplification and open a separate connection for each interface. That might allow us to error out earlie

[2021-04-09 00:22] morrone commented on #362
#683 has the upstream PR of the ibmad plugin from ldms-plugins-llnl.

[2021-04-09 00:38] tom95858 commented on #362
I'm a bit lost on this. Why are we using sys/class instead of the umad
library? Is there some presumed performance advantage?

On Thu, Apr 8, 2021 at 4:36 PM Christopher J. Morrone <
***@***.***> wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-04-09 08:25] morrone commented on #362
I don't know why sysclassib did that. I was confused too, which is why I rewrote some of that. One of the reasons that I named my plugin "ibmad" is because I eliminated much (all?) of the /sys/class lookups and instead use the ibmad and ibumad libraries.

Perhaps the sysclassib plugin resorted to /sys/class because some of the things in the *mad library functions are clearly designed for use by th

[2021-04-09 12:58] LutzWeischerFujitsu commented on #670
(base) [jw@cn06 build]$ make VERBOSE=1 -j1
make  all-recursive
make[1]: Entering directory '/data/jw/ovis/build'
Making all in lib
make[2]: Entering directory '/data/jw/ovis/build/lib'
Making all in src
make[3]: Entering directory '/data/jw/ovis/build/lib/src'
Making all in third
make[4]: Entering directory '/data/jw/ovis/build/lib/src/third'
make[4]: Nothing to be done for 'all'.
make[4]: Leaving

[2021-04-09 14:01] baallan commented on #670
@tom95858  in ldmsd_auth.c we need
extern struct rbt *cfgobj_trees[]; instead of a redefinition.
A better solution would be to properly header cfgobj_trees and then remove the 5 redefinitions.

[2021-04-09 14:03] baallan commented on #670
@LutzWeischerFujitsu please locally modify ovis/ldms/src/ldmsd/ldmsd_auth.c:113 so it reads
extern struct rbt *cfgobj_trees[];
and continue the build so you can tell us what else your compiler version is trapping that ours is not.

[2021-04-10 02:07] baallan commented on #362
I have made a PR with a new set-per-device sampler for /proc/net/dev, which once merged we can deprecate the old one which produces wide sets.

[2021-04-14 06:37] LutzWeischerFujitsu commented on #670
Than all works. :-)

[2021-04-14 15:04] helloSeen opened #687 "Sampling Issues For Set Group Members LDMS 4.3.6"
Hi all, we are using custom procdiskstat samplers on our system to integrate with other services. It is composed of smaller sets in a set group.
As an example:
[code]
We are aggregating across a few nodes for some systems using a genders configuration. The issue we are facing is that we are getting a combination of "procdiskstats-sda1 oversampled 11117395 == 11117395" and "procdiskstats-sda1: ther

[2021-04-14 15:31] tom95858 commented on #687
@helloSeen:

The message "...oversampled..." means that the generation number in the set header hasn't changed since the last update completed.

The fact that the message is coming every second implies that your aggregator is requesting an update of the set every second. If your procdiskstats-sd? is configured to be sampled every 10 seconds, and you are updating at the aggregator every second, 9 o

[2021-04-14 15:45] helloSeen commented on #687
Thanks for the quick response @tom95858. It looks like the update hint on the grp_schema was set to 1 second! However, the set group members are set to 10 second intervals. Any reason why the grp_schema set to a different value if we used `ldmsd_interval_default=10000000,ldmsd_offset_default=5000000,ldmsd_port=60002` in the genders config? Second, I am guessing this means the update interval of th

[2021-04-14 15:55] tom95858 commented on #687
As you heard in the meeting genders is not recommended. My guess is that it
doesn't work correctly for group sets.

On Wed, Apr 14, 2021, 9:45 AM helloSeen ***@***.***> wrote:

[2021-04-14 15:59] tom95858 commented on #687
.
| ... Second, I am guessing this means the update interval of the
grp_schema takes priority over the update interval of each set group member?

The update of the group is what triggers the update of the members.

Thanks

[2021-04-14 16:00] #687 closed

[2021-04-15 21:46] narategithub opened #691 "ibmad build failed: ibmad sampler needs `rdmacm-devel`"
`iba/ib_types.h` (from `rdmacm-devel` package) is needed by ibmad sampler but `configure.ac` does not check for it. The ibmad sampler should not be built if the prerequisites are not met and the user does not explicitly asked for it.

[2021-04-16 17:43] #670 closed

[2021-04-16 17:54] #691 closed

[2021-04-19 21:09] tom95858 commented on #637
Resolved by commit eae6298341f204aed1768cc97adb0e21c139facf

[2021-04-19 21:14] tom95858 commented on #632
. . .

This says that the set cannot be viewed if they are not root or in the root group. Running as "none" everyone is root:root. Running as munge, your are baallan:baallan.

I believe that the code working as expected.

[2021-04-19 21:14] #632 closed

[2021-04-19 21:15] tom95858 commented on #657
Resolved by commit ab49e0855474c83d66a64c68d6746b366d41feb9

[2021-04-19 21:28] tom95858 commented on #587
@brandongc could you please provide me with an example uncore counter your would like to handle with its associated PAPI name?

[2021-04-19 22:13] #523 closed

[2021-04-19 22:13] tom95858 commented on #566
@morrone, would you please comment on this and close as appropriate.

[2021-04-19 22:37] morrone commented on #637
@tom95858, while there has been some progress in this area, I do not think this is resolved yet. In particular the issue that I raised in the initial comment hasn't been addressed. ldmsd_next_attr() still does no validation. This will take a little more reworking to fix because that function probably doesn't have enough information when it is called to validate the sizes.

[2021-04-19 23:07] morrone commented on #566
@tom95858, that is not one of the samplers that I wrote, but I will take a look.

Yes, lustre2_oss does not appear to support lustre 2.12. I think wooloo1121 already figured this out and is using my plugins from ldms-plugins-llnl (now upstreamed and in ovis 4.3.7!).  wooloo1121 also has a plugin for oss IO stats that is pending over in ldms-plugins-llnl, and can now instead be redirected to upstre

[2021-04-19 23:08] #409 closed

[2021-04-19 23:19] tom95858 commented on #637
@nick-enoent, could you please add the relevant check to ldmsd_attr_next(). Somehow I missed this when I reviewed the code. I know we discussed it when we were talking about doing this validation.

@morrone, I believe that we can add an additional check in the ldmsd_attr_first, ldmsd_attr_next functions that ensure that attr + attr->len does not extend beyond the end of the message. This will avoi

[2021-04-19 23:31] brandongc commented on #587
@tom95858 The most immediately useful would be the memory controller events. In particular on a Haswell I would like to get the UNC_M_CAS_COUNT for each memory controller in order to calculate the memory bandwidth:

[code]

On KNL, for same analysis (also including the on package MCDRAM) I would like to get

[code]

[2021-04-19 23:33] morrone commented on #637
Perhaps ldmsd_attr_first() could walk the whole set of attributes, avoiding the need for the ldmsd_attr_next() to validate.

We also need to make sure the the attr is null terminated within the len, not just that the len value is correct.

[2021-04-20 03:09] tom95858 commented on #637
We could also validate the request upon receipt before ldmsd_attr_first is even called.

[2021-04-20 03:44] morrone commented on #637
Yes!

[2021-04-20 14:20] #464 closed

[2021-04-20 14:20] #399 closed

[2021-04-20 14:21] #275 closed

[2021-04-20 14:21] #217 closed

[2021-04-20 14:21] #202 closed

[2021-04-20 14:24] #276 closed

[2021-04-20 14:24] #173 closed

[2021-04-20 15:15] nick-enoent commented on #637
@tom95858 Sure thing, I'll take a look at it today.

[2021-04-20 21:38] Snell1224 opened #696 "Failover Not Working"
Following the [Two Aggregators Configured as Failover Pairs](https://github.com/ovis-hpc/ovis-wiki/wiki/QuickStart-%28v4%29#Two_Aggregators_Configured_as_Failover_Pairs)  instructions and environment (without the authentication), I created an example failover to help understand how the aggregators are configured.

I was able to aggregate both host1 (nid00046) and host2 (nid00047) from each agg11.c

[2021-04-21 00:58] tom95858 commented on #696
@narategithub can you take a look at this?

[2021-04-21 01:05] narategithub commented on #696
@Snell1224 Can I see agg11.conf and agg12.conf? rc 1 is `EPERM`. I'm suspecting that the daemon name in the config file and the name given at the CLI might not match.

[2021-04-21 15:37] Snell1224 commented on #696
agg11.conf:
[code]

agg12.conf:
[code]

[2021-04-21 15:40] narategithub commented on #696
In `agg12.conf`, `failover_config` `peer_name` should be `agg11`.

[2021-04-21 15:52] Snell1224 commented on #696
Oh! Did not notice that.
Changed the peer_name and the failover worked! Thank you!

[2021-04-21 15:52] #696 closed

[2021-04-23 23:18] baallan opened #699 "leaking sockets when ovis3 attempts connecting to ovis4"
In the scenario where a v3 aggregator regularly retries to connect to a v4 sampler (and fails on version or auth mismatch; not sure where exactly), the v4 sampler is leaking socket file descriptors with every attempt.

Turning off the v3 aggregator immediately relieves the symptom and groping the v4 sampler with strace shows the ip address of the v3 agg host in the connections up until that point.

[2021-04-24 17:02] baallan commented on #699
The strace capture on the v4 sampler side for one example is (anonymized):

[code]

[2021-04-27 09:51] wooloo1121 commented on #566
Hi @morrone @tom95858, yes I used @morrone's plugins and developed an oss IO stats plugin to meet our needs. Thank you for the replies and I'll close this.

[2021-04-27 09:51] #566 closed

[2021-04-27 15:09] baallan commented on #362
with procnet and ibmad both in the tree, this issue has been resolved.

[2021-04-27 15:09] #362 closed

[2021-04-27 15:15] baallan commented on #324
@narategithub @tom95858 is this issue resolved? The original bug (hardcoded plugin names) has been fixed, and my impression on libfabric is that for now it's off the table as we try to get omnipath/rdma working right.

[2021-04-28 21:59] tom95858 commented on #699
We do not support v3 aggregators talking to v4 samplers.

[2021-04-29 04:11] baallan commented on #699
Doesn't matter whether you support it or not. This is not a request to support it. If the connection is not rejected when there's a protocol mismatch without leaking fd resources, then it's a DOS attack vector. This needs to be fixed.

[2021-05-06 18:22] vsurjadidjaja opened #714 "ovis-lib directory not created in OVIS-4"
The /Build/OVIS-4/lib/ovis-lib directory is not created when using OVIS-4 (specifically when following the install instructions on the wiki's QuickStart page).

[2021-05-13 15:56] oceandlr opened #720 "Build process for subdir change?"
Did the build process for subdirectories change? I had errors building the Cray System Sampler which all looked like handling of subdirs?

[2021-05-13 16:01] bschwal commented on #720
I am also getting a similar issue but after building. I'm trying to load app_sampler and it is looking for the library in lib64 which does not exist. Is that a sampler specific thing?

[2021-05-13 19:01] tom95858 commented on #720
I think this became borked when they upgraded Voltrino. Have no build issue on any other platform.

[2021-05-26 17:48] baallan commented on #714
It's not expected to be. The pkglibdir definition (where most of the plugins live) is $libdir/$PACKAGE where package is ovis-ldms, from the top directory's configure.ac.
The prior existence of lib/ovis-lib was an artifact of the old build system that had multiple configure.ac files; these were unified into the top level configure.ac.
Any documentation or scripts mentioning lib/ovis-lib should be c

[2021-05-26 17:48] #714 closed

[2021-05-27 21:54] tom95858 commented on #720
What's the status here? Can we close this?

[2021-05-27 21:57] bschwal commented on #720
I think @oceandlr is still having voltrino build issues, I think it is a system specific issue though. I haven't tried to build elsewhere yet.

[2021-05-28 00:59] oceandlr commented on #720
I will try again. At one point ovis-4.3.8-fixes and OVIS-4 had diverged. What am I supposed to be using now?

[2021-07-13 23:31] baallan opened #765 "lnet_stats retry needed"
sampler lnet_stats, unlike lustre_client and other recent lustre samplers, does not cope with changing lustre mount status. in particular the sampler fails if no mount points exist.

We need to have lnet_stats retry periodically and not emit errors if there is no stats file because lustre is temporarily inactive.

[2021-07-22 15:19] baallan opened #771 "set lifecycle and L1 problem"
I have a sampler (pr 767) where  L0 sets have the following lifecycle (driven by events in /proc/$pid):
[code]

And at the L1, there seems to be some issue with it never getting properly eliminated; the updtr keeps looking for it forever, as logged below. Notice that the set has an existence shorter than the updater interval (1 sec). I am stumped as to why L1 is lingering on it. Help!

1626913802.

[2021-07-26 12:19] jenny-cheung opened #772 "Potential error(e.g., deadlock ) due to the unreleased lock (CWE-667)"
Dear developers, thank you for your checking! It seems that the lock `&lset->lock` may not be released correctly if the method  `int __process_dir_set_info` returns in the below two branches. Should it be a real bug? I think the fix is to insert `pthread_mutex_unlock(&lset->lock);` before returning.

https://github.com/ovis-hpc/ovis/blob/84513760731014c170104ff11608867b62096b58/ldms/src/core/ldms_

[2021-07-26 12:34] jenny-cheung opened #773 "Potential error(e.g., deadlock ) due to the unreleased lock &set->lock (CWE-667)"
Dear developers, thank you for your checking! It seems that the lock `&set->lock` may not be released correctly if the method `__send_lookup_reply` when the` !msg` is satisfied and the control flow goes to  `err_0` that does not release the lock &set->lock. Should it be a real bug? I think the fix is to insert `pthread_mutex_unlock(&set->lock);` in the branch of` !msg`.

https://github.com/ovis-hp

[2021-07-27 15:15] baallan commented on #772
@tom95858 it appears the reporter's observation is correct and the fix we might apply is to have the early returns converted to a 'goto err' with the err label just before the final if (lset) and the final return converted to a 'return rc'.
Do you concur?
Also it looks like neither here nor the caller logs a nomem message, which should be fixed at the same time.

[2021-07-27 15:27] baallan commented on #773
@tom95858 reporter's observation looks correct, and the proposed fix appears correct. Tracing where the error code goes, in at least some cases it appears enomem gets incorrectly mapped to a zap error string, so fixing the error reporting at the same time (if in a separate commit) would be helpful.

[2021-07-27 15:51] baallan commented on #765
@tom95858 I created #774  to fix this. It's ready to go.

[2021-07-28 13:07] jenny-cheung commented on #773
@baallan Thank you for your detailed reply and confirmation!

[2021-07-28 13:08] jenny-cheung commented on #772
@baallan Thank you for your detailed reply and confirmation!

[2021-07-28 21:44] baallan commented on #771
based on the symptoms and following the source, at the L1 the prdcr_set gets stuck in LDMSD_PRDCR_SET_STATE_START if it disappears from L0 before it ever leaves the START state on L1.
Trying to further analyze the source and trace the delivery of the set_delete event from L0 to understand why it's stuck.

[2021-07-29 16:02] baallan commented on #771
Updating __ldmsd_prdset_lookup_cb to change prd_set->state to LDMSD_PRDCR_SET_STATE_DELETED in the case of lookup status == ENOENT, suppresses the further issuing of error messages, but doesn't get the offending dangling prd_set out of the list maintained inside  'ldmsd_prdcr_t prdcr'. What's the right scope to check for LDMSD_PRDCR_SET_STATE_DELETED and prune the prd_set from the list?

@narategi

[2021-07-29 17:15] baallan commented on #773
@jenny-cheung if you have time, please cherry pick the proposed changes from #775, #776 and rerun your lock analyses, then let us know if the problems are still there or have been replaced with another problem.

[2021-07-30 10:49] jenny-cheung commented on #773
@baallan They are fixed now. Thanks~

[2021-08-05 00:52] brandongc commented on #587
@tom95858 Is there anything more you need from my side to help with this?

[2021-08-05 17:19] tom95858 commented on #587
Hi Brandon,

We just need time to get to it. We've been buried with other priorities.

Tom

On Wed, Aug 4, 2021 at 8:52 PM brandongc ***@***.***> wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-08-18 18:49] #773 closed

[2021-08-18 18:49] #772 closed

[2021-08-19 00:15] tom95858 commented on #771
@baallan there is probably a bug wherein the updater doesn't get scheduled before the set is deleted. But that is just a theory. It seems like you could create a simple test case in Python to trigger this so that we can debug it.

[2021-08-23 17:26] eric-roman opened #778 "Slurm notifier plugin prevents use of Slurm job containers"
When the Slurm notifier plugin is used with Slurm's job containers, jobs fail to start.  As seen below, the failure is ultimately in a setns() system call.  The error happens early during job initialization and is repeatable.  I believe the failure is caused by threads created when the ldms libraries are loaded.  Two places I see threads in library constructurs are
1. in `cs_init()` from `ldms.c`

[2021-08-23 18:49] narategithub commented on #778
@eric-roman,

I'd like to try to reproduce it, but I need more info:
- What is a Slurm's job container? Is it a feature in Slurm that I need to configure to use?
- What transport plugin are you using for slurm_notifier?
- What is the branch? (OVIS-4?)

Thanks!

[2021-08-23 21:02] eric-roman commented on #778
@narategithub

1. It's a Slurm feature that needs to be configured.  We saw it when using the `job_container/tmpfs` plugin.  Looking in our `slurm.conf` I see the line:  ```JobContainerType=job_container/tmpfs```  The configuration is described in more detail [here](https://slurm.schedmd.com/job_container.conf.html)

A trimmed down version of the `job_container.conf` used above looks like this:
[c

[2021-08-24 02:35] narategithub commented on #778
@eric-roman Thanks! I'll look into it. Last question: What is the version of Slurm you're using?

[2021-08-24 04:41] narategithub commented on #778
@tom95858 @eric-roman

FYI, The error is confirmed. I've tested with slurm 20.11.8 and OVIS-4.3.7 on OGC cygnus cluster.

[code]

Without `slurm_notifier` in the `plugstack.conf`, I don't see this error. I'll dig more into it tomorrow.

[2021-08-24 15:26] eric-roman commented on #778
For reference we first found this problem using slurm 20.11.8

On Tue, Aug 24, 2021 at 2:35 AM narategithub ***@***.***>
wrote:

[2021-08-24 19:59] narategithub commented on #778
@eric-roman I think you're right. The multi-threaded is the cause. According to `setns(2)` man page:

I also verified this with a very simple test program that creates an extra thread (that does nothing) before `setns()`. The `setns()` error with EINVAL. When I didn't create the extra thread, it joins the mount namespace successfully.

The current nature of ldms/zap needs those threads for applica

[2021-08-24 20:24] baallan commented on #771
@tom95858 this is only happening on a few sets of many , so the test case isn't so simple to reproduce. Will look further into how to force the timing.

[2021-08-24 20:46] eric-roman commented on #778
This isn't quite a fix, but I did try moving the `ldms_xprt_close` to the end of `send_event` in `slum_notifier`.  That seemed to kill off the callback threads.

However the `delete_thread` threads created when `libldms` loads were still around.  If I understood correctly, those `delete_thread` threads are related to managing metric sets, so delaying their creation until a metric set is created ma

[2021-08-24 20:53] tom95858 commented on #778
Hi Narate,

I think this may have to do with the fact that there is already an open
connection on one of the threads that would become invalid after the
setns() call.

A quick look at the code suggests that we never close the connections we
create in send_event(). So these connections are left hanging around. When
a subsequent setns() occurs, it can't place these open connections in the
new namesp

[2021-08-24 20:54] tom95858 commented on #778
Pfft, Eric is way ahead of me...

On Tue, Aug 24, 2021 at 2:46 PM Eric Roman ***@***.***> wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-08-24 20:54] tom95858 commented on #778
But my speculation is that it's not the threads, it's the connection that
owns resources that are not available in the new namespace...

On Tue, Aug 24, 2021 at 2:53 PM Thomas Tucker ***@***.***> wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-08-24 21:21] narategithub commented on #778
Sure. I'll try it. But closing the transport doesn't destroy the threads though (and it should not, or it is a bug 😅). The `setns(fd, CLONE_NEWNS)` seems to really not like multiple threads as the following test program succeeded when `pthread_create()` was not called, and failed when `pthread_create()` was called:

[code]

I noticed that we also have `ldms_xprt_term(int sec)` that terminates zap

[2021-08-24 21:32] narategithub commented on #778
FYI, I tried the following:
[code]

Didn't work as @eric-roman pointed out that we still have other threads hanging around. I'll try killing off those threads in `ldms_xprt_term()` and see if it will work.

[2021-08-24 21:52] tom95858 commented on #778
Where does the above program fail? The call to setns()?

On Tue, Aug 24, 2021 at 3:21 PM narategithub ***@***.***>
wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-08-24 21:57] narategithub commented on #778
correct. With errno being EINVAL.

[2021-08-24 21:58] narategithub commented on #778
I would like to mention that it does succeed if I comment out pthread_create().

[2021-08-24 22:01] tom95858 commented on #778
The *setns*() system call allows the calling thread to move into
       different namespaces.  The *fd* argument is one of the following:

       • a file descriptor referring to one of the magic links in a
         */proc/[pid]/ns/* directory (or a bind mount to such a link);

       • a PID file descriptor (see pidfd_open(2)
<https://man7.org/linux/man-pages/man2/pidfd_open.2.html>).

       The

[2021-08-24 22:04] narategithub commented on #778
The file is a soft link to `/proc/<PID>/ns/mnt` of the other process. The other process creates the soft link for convenience (or I have to specify PID every time I run). I did try  `/proc/<PID>/ns/mnt` directly and the result is the same.

[2021-08-24 22:07] tom95858 commented on #778
Do we know which event is preceded by the call to setns()?

On Tue, Aug 24, 2021 at 4:04 PM narategithub ***@***.***>
wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-08-24 22:09] tom95858 commented on #778
Sorry, I mean precedes. Which event occurs before the call to setns() by
slurm? The reason I'm asking is that we can defer these events and then
deliver them _after_ the setns() has occurred.

On Tue, Aug 24, 2021 at 4:07 PM Thomas Tucker ***@***.***> wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-08-24 22:16] narategithub commented on #778
Not sure .. I'm digging in slurm source tree.

[2021-08-24 22:19] tom95858 commented on #778
You may be able to infer it by looking at the events that were delivered
before the job failed.

On Tue, Aug 24, 2021 at 4:16 PM narategithub ***@***.***>
wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-08-24 22:28] tom95858 commented on #778
*EINVAL* The caller is multithreaded and tried to join a new user
namespace.
So I'm guessing that the setns() call is made after the job changes from
root to the uid.So it seems we may have to use this deferral mechanism to
deliver all events after the setns has occurred.

On Tue, Aug 24, 2021 at 4:19 PM Thomas Tucker ***@***.***> wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-08-25 14:30] narategithub commented on #778
According to `slurmd.log` (debug2), `setns()` was called in the task process (forked from slurmstepd) while in privileged mode. I think it failed because slurmstepd already loaded `slurm_notifier` before forking the task processes. Then, after the task process is forked, `zap.c:init_atfork()` and `zap_sock.c:init_once()` is called again in the task process (by `pthread_atfork()` registration) to c

[2021-08-25 16:59] narategithub commented on #778
@tom95858 @eric-roman please see #780 . I've tested that patch with `job_container`.

[2021-08-25 21:36] eric-roman opened #782 "Slurm notifier must call slurm_init"
From the Slurm README:

[code]

[2021-08-30 19:42] nichamon commented on #771
@tom95858  @baallan I found out why L1 does not clean up the set and keeps looking it up. The timeline is as follows.

L0: create set A
L0: publish set A
L1: receive dir_add
L0: unpublish set A
L0: delete set A. L0 does _not_ send the SET_DELETE message to L1 because the set has not been looked up yet.
L1: lookup set A
L0: Receive the lookup request for set A but set A is not in the set tree or th

[2021-08-30 19:42] nichamon commented on #771
@tom95858 I told you on the phone that the bug has some things to do with a missing RBD. I was wrong. This has nothing to do with the existence of RBDs. The client registers on a set at the lookup time. Suppose the server deletes the set before it receives a client's lookup request. There is no map between the set and the client. However, the `dir` logic can handle this. I'm thinking of reviving `

[2021-08-30 20:19] baallan commented on #771
@nichamon thank you for confirming the issue.

[2021-08-31 00:50] #765 closed

[2021-09-03 20:24] morrone opened #789 "OVIS-4 branch breaks compatibility with 4.3.7"
It appears that OVIS-4 branch (at least at commit 3fc50a)  has broken compatibility with 4.3.7.

On a ppcle64 system, I try to start an ldmsd configured as an aggregator, and it is unable to connect, using rdma, to 4.3.7 ldmsd sampler nodes.

Some notes about what you will see in the log below:

butte6 is the aggregator running OVIS-4 commit 3fc50a , and the log that I show is from that daemon add

[2021-09-03 22:48] tom95858 commented on #789
@narategithub could you please take a look at this on the Cygnus cluster? I know the patches passed the compatibility test, but I believe that's only over sockets.

[2021-09-07 16:51] narategithub commented on #789
@tom95858 I've tested on cygnus (iwarp) with the following setup:

- v4.3.7 sampler on cygnus-08
- OVIS-4 sampler on cygnus-07
- OVIS-4 agg on cygnus-07 collecting cygnus-07 sampler (OVIS-4) and cygnus-08 sampler (v4.3.7)

and, I checked using the `ldm_ls` with and without `-l` as the following:
- ldms_ls-4.3.7 to OVIS-4 agg: OK -- all sets (from both samplers) showed up and the data (meminfo) loo

[2021-09-07 17:07] morrone commented on #789
These ppc machine are running in little endian mode.

Note that these machines are also running MOFED. That may be another difference between our systems.

[2021-09-07 21:16] tom95858 commented on #789
The ppcle platform is running in little endian mode I believe.

On Tue, Sep 7, 2021 at 10:51 AM narategithub ***@***.***>
wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-09-08 20:21] morrone opened #791 "OVIS-4 branch SEGFAULT on failed connection"
Something has changed in the connection code on the OVIS-4 (as of at least commit e3fc50a)  branch since 4.3.7 that now results in a SEGFAULT on failed RDMA connections. I am seeing this on a ppc64le test system running MOFED.

In my case, I can reproduce the problem most easily by trying to connect to a node that is currently down. Both the ldmsd (running as an aggregator) and ldms_ls exhibit the

[2021-09-08 20:23] morrone commented on #789
I am happy to do leg work on this. Got any suggestions on where to look? A debugging patch I can try maybe?

[2021-09-09 15:42] oceandlr opened #795 "Missing documentation on wiki"
@Snell1224 On the wiki there appear to be stub pages with no information (e.g., features and functionalities). What's the plan for these? Should they be removed until there is content?

[2021-09-09 17:22] morrone commented on #789
FYI, this is the commit that introduces the incompatibility:

[code]

[2021-09-09 18:08] tom95858 commented on #789
@narategithub are we putting these names on the wire somewhere? Maybe as part of authentication?

[2021-09-09 18:10] tom95858 commented on #789
But in any event the RDMA transport had swapped these names. So when this fix un-swapped them, it broke the older versions without the fix.

Do you remember what bug or issue this resolved?

[2021-09-09 18:12] tom95858 commented on #795
Yes, but my recollection was that someone was going to flesh these out as part of a comprehensive documentation of our testing.

[2021-09-09 18:14] oceandlr commented on #795
This was in features and not in testing. you guys decide

[2021-09-09 18:22] narategithub commented on #789
@morrone, Thanks for the info.

@tom95858 I'm not sure but I don't think we use the name on the wire for authentication. I'll look into it tonight and will also try on orion (cxgb) since cygnus iwarp cannot reproduce the problem.

[2021-09-09 18:24] morrone commented on #789
Is the name maybe fed to munge for authentication?

[2021-09-09 18:29] morrone commented on #791
This is the commit that introduced the segfault:

[code]

[2021-09-10 05:13] narategithub commented on #789
@morrone You're absolutely right. v4.3.7 was expecting the munge payload with the wrong address, while OVIS-4 sent the payload with the correct address. I was testing with no authentication, and that's why I didn't see the problem. Now, with auth munge, I see the problem over both Mellanox cards and Chelsio cards.

@tom95858 A pull request to work around this issue is posted #796. Please see if it

[2021-09-10 05:14] narategithub commented on #789
@morrone Thanks for catching the bug and finding the root case! :)

[2021-09-27 18:07] tom95858 commented on #791
@narategithub can you please take a look at this.

[2021-09-27 18:07] tom95858 commented on #789
@morrone can you please close this if it's good to go

[2021-09-27 18:11] narategithub commented on #791
@tom95858 sure.

[2021-09-27 21:05] narategithub commented on #791
@tom95858 @morrone please see #809.

[2021-09-29 23:37] morrone commented on #789
Yes, it looks like that fixed it!

[2021-09-29 23:37] #789 closed

[2021-09-29 23:39] morrone commented on #791
I tested OVIS-4 with pr #809 merged, and that did fix this segfault. I'm not reliably seeing a different segfault that I will open a ticket on.

[2021-09-29 23:39] #791 closed

[2021-09-29 23:49] morrone opened #812 "ldms_ls SEGFAULT near exit time using rdma"
With ovis/OVIS-4 at commit a7a7b4a3, I am seeing ldms_ls segfault near process exit time (judging based on the output I see):

{noformat}
$ ldms_ls -x rdma -a munge -p 411 -h butte11-hsi0
butte11/meminfo
butte11/gpu_3
butte11/gpu_2
butte11/gpu_1
butte11/gpu_0
Segmentation fault
$ ldms_ls -x rdma -a munge -p 411 -h butte10-hsi0
Connection failed/rejected.
Segmentation fault
{noformat}

This is on a

[2021-09-30 01:25] narategithub commented on #812
FYI, I tried on x86_64 cxgb4 and cannot reproduce. I'll look into the code just in case I'll spot something obvious.

[2021-09-30 01:52] tom95858 commented on #812
This is crashing on the OFED code.

On Wed, Sep 29, 2021, 7:25 PM narategithub ***@***.***> wrote:

[2021-09-30 22:21] tom95858 commented on #791
Thanks Chris.

On Wed, Sep 29, 2021 at 5:39 PM Christopher J. Morrone <
***@***.***> wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2021-10-01 20:38] morrone commented on #812
That is true, but it could be because we are doing something like a double destroy on the QP when we shouldn't be.

[2021-10-12 15:07] narategithub commented on #812
@morrone can I have the version of OFED? I cannot find `rdma_cma_fini()` function definition in https://github.com/linux-rdma/rdma-core

[2021-10-12 15:19] narategithub commented on #812
@morrone can you please give #820 a try?

[2021-10-17 21:45] tom95858 opened #822 "Rename ibmad sampler to ibmad_sampler"
@morrone, the ibmad sampler name is confusing the automake tools because it's target (libibmad.so) has the same name as an OFA verbs library by the same name and on which it depends. In order to resolve this conflict and make the sampler naming more consistent it seems like we should rename this sampler ibmad_sampler.

When I say 'confusing', specifically, the initial build after 'make clean' work

[2021-10-19 17:06] tom95858 commented on #822
@morrone,

You mean mark it as 'deprecated' in the man-page I presume. This would be trivial to implement in the RPM post-install hook, i.e. just create a link from the old-name to the new-name. Users who build from source would not see this in the make install output; and I think I prefer that.

[2021-11-01 20:57] Snell1224 commented on #795
@oceandlr I have removed the sub pages until the Test Plan has been approved in the R&A portal.

[2021-11-19 21:05] baallan opened #836 "auto interval doesn't work for dynamic set plugins"
Sets which are created dynamically by plugins have no way currently to get their ldmsd_set_update_hint_set called correctly.
this causes them to be not aggregated if auto interval control is active.

This affects the lustre plugins and other multiset plugins that create their sets after 'start $plugin interval=xxx' has occurred.
cause:
Currently, start sampler calls __sampler_set_info_add which lo

[2021-11-19 21:05] baallan commented on #836
example: lustre_client plugin has this problem on my cray.

[2021-11-29 19:41] morrone commented on #822
I think that this needs to happen in the ldms build system rather than in the rpm packaging system. This is a change that would break a person's configuration. That sort of thing generally needs to be handled by the developer rather than the packager.

But that isn't terribly hard to do either. I'll push a commit shortly.

[2021-11-29 19:57] #822 closed

[2021-12-10 02:36] tom95858 commented on #836
@baallan, i believe that this has been "fixed" by @nichamon. If this is not the case, please re-open. The issue was that these samplers were not calling ldmsd_set_register().

[2021-12-10 02:36] #836 closed

[2021-12-10 02:43] tom95858 opened #843 "dstat sampler does not include sysconf(_SC_CLK_TCK)"
@baallan, I think the utime, stime, xxtime metrics are all in clock ticks and can only be interpreted if you know the sysconf(_SC_CLK_TCK) value. Could you please either include this value in the metric set or alternatively do the division yourself in the sampler? I _think_ the later is preferred since the value can change due to CPU throttling, but I'm open to either. What do you think?

[2021-12-10 03:16] tom95858 commented on #843
@baallan, it also looks like fd_max is less than fd_count which I don't think should ever be the case...

[2021-12-10 03:23] tom95858 commented on #843
@baallan, here's an example gathered on one of our clusters...
    dsosql: select fd_count, fd_max from dstat_37 where component_id == 600001 and timestamp > 1639102418
    ORDER_BY "component_id", "timestamp", "job_id"
    fd_count           fd_max             component_id       timestamp                        job_id
    ------------------ ------------------ ------------------ ------------------

[2021-12-13 16:08] baallan commented on #843
@tom95858 I will take a look at dstat. All the hpc systems I've looked at since 2014 have tick at 100Hz, but that's no guarantee of anything going forward.

[2021-12-13 16:27] baallan commented on #843
the same problem exists for the other proc files reporting ticks.

[2021-12-13 18:29] baallan commented on #843
@tom95858 re: tick/sec value: my inclination is to add the sc_clk_tck metametric column since changing the definition of the existing tick metrics will break downstream column type definitions.  I will poke around and see what other stores need scclktck.

I have never managed to find any documentation saying that the sysconf kernel scheduler tick varies with throttling. It seems to be tied to conf

[2021-12-13 22:01] baallan commented on #843
@tom95858 fd's initially number from 0 upward [e.g. (0,1,2) with a count of 3]. That eventually will develop holes such that fd_max > fd_count as additional 'files' are opened/closed.

[2021-12-13 22:34] tom95858 commented on #843
@baallan Ok, I see this is the maximum fd number, not the max number of open fd. That number is max_fd + 1. Thanks for the explanation.

[2021-12-13 22:34] #843 closed

[2021-12-15 19:38] morrone commented on #782
The merged commit says, "Addresses #782", so I am closing this issue.

FYI, github recognizes the keywords "fixes", "closes", and "resolves", but not "addresses" to the best of my knowledge.

https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

[2021-12-15 19:38] #782 closed

[2021-12-17 03:08] baallan opened #850 "procnet sampler not handling perms and sets quite right"
the sets from the procnet plugin currently ignore the perm= argument. they default therefore to 440 and aren't visible except to root.
I'm working on a patch.

[2021-12-17 03:18] baallan opened #851 "ibmad sampler does not set update hint"
example
[code]

working on a patch

[2021-12-17 06:14] baallan commented on #851
also ignores perm=. will fix

[2021-12-17 08:33] baallan commented on #836
@tom95858 @nichamon I'm reopening this. adding set_register calls seems to have most samplers in order, but not the ibmad_sampler. If I run with the patch in #854 updt_hint_us still isn't set.

[2021-12-17 08:35] baallan commented on #851
I've added set register/deregister and auth option setting to ibmad_sampler in #854 but it still exhibits not setting the update hint. not sure why. reopening #836

[2021-12-17 20:46] #850 closed

[2022-01-06 23:23] morrone opened #860 "Sampler changes register metric sets, but fail to deregister"
There are a few recent sampler changes that appear to add ldmsd_set_register() calls (a good thing) but fail to include the matching ldmsd_set_dereigster() which (unless deregister happens implicitly and isn't documented), which cause memory leaks.

The commits are at least:

* 51e28d16 2021-11-25 Register slurm_sampler sets to LDMSD's set tree
* 8cbe866c 2021-11-25 Register lustre's job stats set

[2022-01-07 05:18] nichamon commented on #851
@baallan I took a look at ibmad_sampler.c and I have a question. Is it possible that the `metrics_tree_refresh()` function may try to create a metric set with the same name as an existing metric set, especially when an Infiniband card is available at both sample times.

[2022-01-07 17:22] morrone commented on #851
I don't believe so. metrics_tree_refresh does this:

[code]

It looks up the instance name in its own rbt cache of the metric sets. If it finds the metric set with the same name, it just keeps the existing metric set instance. It is only when the instance name doesn't exist yet that it calls ibmad_metric_create() and creates a new metric set.

The infiniband card being available both times is the

[2022-01-07 19:21] morrone opened #863 "Configuration file environment variable substitution in "listen" command regression on OVIS-4"
It looks like there has been a regression in the handling of "env" options in ldms config files on the OVIS-4 branch.

I have these line in a config file:

[code]

When ldmsd tries to start up, we see the error:

[code]

The HOSTNAME substitution appears to now evaluate to an empty string.

[2022-01-07 19:32] morrone commented on #851
Just FYI, I _am_ seeing the hints on ibmad metric sets. I'm currently testing with PR#861 included. I don't _think_ that matters, but mention that for completeness.

[code]

[2022-01-07 20:29] morrone commented on #863
It appears that the following commit introduced this regression:

[code]

[2022-01-07 20:44] tom95858 commented on #863
@nichamon can you please take a look at this.

[2022-01-07 20:46] #860 closed

[2022-01-07 20:55] morrone commented on #863
It looks like it is not the "env" lines that are broken, instead it looks like substitutions on the "listen" command lines in the file are not happening. Substitutions are still happening for at least "config" and "start" commands.

[2022-01-07 20:58] baallan commented on #851
@nichamon if your testing concurs with Chris', please close this issue.
@morrone thanks for the additional fixes.

[2022-01-07 21:30] nichamon commented on #851
@morrone Thanks for the explanation and the testing. Somehow I missed the if-condition.

@baallan I have to leave the confirmation to you as you were the one who found the problem, and I don't have enough capacity to set up and test ibmad_sampler soon. Sorry.

[2022-01-08 00:26] morrone commented on #863
PR #864 does appear to address this bug.

[2022-01-08 18:42] #863 closed

[2022-01-10 17:03] baallan commented on #851
@nichamon gotcha. will work it in somewhere by Wednesday.

[2022-01-10 20:41] baallan commented on #851
Checked latest version which makes the calls
[code]
and the hint info remains unset.

[2022-01-10 20:44] baallan commented on #836
After @morrone most recent updates, this issue still exists for dynamic set creation processes exemplified by  ibmad_sampler.

[2022-01-10 20:49] morrone commented on #836
Like I said, I didn't expect that my change would effect this. But I _am_ seeing the hints on ibmad sampler metric sets. And it did look to me like the ldmsd_set_register() code tries to set this. So I guess we need to figure out what is different between your setup and mine.

Can you please share your configuration options?

[2022-01-10 21:19] baallan commented on #836
If you're seeing hints, let me dig back through the plugin binaries and see if something unexpected happened in the test deployment update.

[2022-01-10 22:04] morrone commented on #836
I think I see the problem. It works when one uses the plugin name "ibmad", but not when one uses the new "ibmad_sampler" plugin name. There is an assumption in the code that these names are the name, but that is not programmatically or systematically enforced. And we wanted to allow both in this particular case to allow transition.

A simple half-measure fix would be to change the name that the pl

[2022-01-10 22:05] baallan commented on #836
@morrone sampler config is:
[code]
the sha from
git log ibmad_sampler.c
[code]
do you have another sha?

[2022-01-10 22:09] baallan commented on #836
I would be fine with simply moving to ibmad_sampler and forgetting about ibmad. I don't know of any institution that actually deployed ibmad (except maybe llnl, which you can upgrade).

[2022-01-10 23:23] baallan commented on #836
I tried loading the sampler as 'ibmad' instead of ibmad_sampler and confirmed that it then gets the hints field populated.

[2022-01-11 00:36] tom95858 commented on #851
@baallan, this sampler was renamed, correct? Are you sure you're running the new version?

[2022-01-11 03:58] baallan commented on #851
@tom95858 I'm running the latest as of 1/10/22 morning and verified @morrone discovery that if we load the sampler plugin under the 'old' name ibmad then the hint gets populated correctly.

[2022-01-11 17:21] baallan commented on #851
@tom95858 #865 solves this problem well enough (if marginally back-incompatibly).

The 'new' plugin (there is no old binary lingering the way we manage toss images) can be loaded under ibmad or ibmad_sampler as the plugin name because a symbolic link from ibmad.so to ibmad_sampler.so is being placed in lib64/ovis-ldms by the makefile.

In retrospect, I think the decision to add the symbolic link t

[2022-01-11 17:23] tom95858 commented on #851
@baallan, I see ... he had symlinks to the new plugin; but SAMP still had the old name, so if you loaded it with the new name, the hints didn't work. @morrone, I agree with @baallan that we should just deprecate the old names. Do we have a lot of installs that we think will break? That said, @nichamon, what happens if we call ldmsd_set_register twice; once for each of the possible plugin names?

[2022-01-11 19:50] #851 closed

[2022-01-11 21:17] nichamon commented on #851
@tom95858 The `ldmsd_set_register()` will return EINVAL if the plugin name passed to `ldmsd_set_register()` doesn't exist in the loaded plugin list.
As you said, before @morrone 's PR #865, loading with the old name worked because `SAMP` still had the old name. As PR #865 updates the `SAMP` value to `ibmad_sampler`, the update hint will only work when loading the plugin with the new name `ibmad_sa

[2022-01-11 21:26] tom95858 commented on #851
@Nichamon Naksinehaboon ***@***.***>  ok so then the strategy of
registering both names would work. The one that was actually used to load
the plugin would work, and the other one would fail, but there would
otherwise not be a negative side effect. I was just asking in case @morrone
and others wanted to pursue the link strategy where the plugin could be
loaded either as ibmad or ibmad_sampler.

On

[2022-01-11 21:53] baallan commented on #851
I would recommend against applying the 'dual registration' just to avoid creating examples that others may copy without understanding that for their case it is not needed.

[2022-02-02 00:36] baallan opened #879 "version on v4.3.8 still coming out as 4.3.7.213"
with current git 2.30.1 in toss, the version computation seems to be broken.

config/git-version-gen as scripted in configure.ac  is returning a 4.3.7 dirty string instead.
When I try to run pieces of git-version-gen by hand i eventually get to an error message:
[code]

I don't know if the issue is our release tag not quite as needed or if something has changed in the current git version supported

[2022-02-02 00:37] baallan commented on #879
@morrone @tom95858 the unexpected behavior of configure/version is leading to incorrectly named tar files and rpms.

[2022-02-02 21:26] baallan commented on #879
@tom95858 @morrone
After manually tagging a local clone with 'git tag OVIS-4.3.8 -m something' make dist now does the right thing; it appears v4.3.8 just needs the right release tagging on github. this hold for both 1.8 and 2.30 git versions.

[2022-02-03 00:21] morrone commented on #879
Yes, it is broken with any version of git. I emailed Tom about that, and he said he would take care of it.

Not only does the tag need to be in the form "OVIS-<version>" (our agreed upon format), it also needs to be an _annotated_ tag. So "git tag -a OVIS-4.3.8". The commit message can be the release message.

[2022-02-03 18:42] morrone commented on #879
We hit a build issue with the correct tag created. I submitted PR #880 to address the issue.

[2022-02-03 20:03] baallan commented on #879
The retagged tree now builds tar & rpm as expected for me.

[2022-02-03 20:03] #879 closed

[2022-03-09 00:04] baallan opened #892 "array/list lengths contract changed in sept 2021-- 0 length no longer allowed."
__ldms_value_size_get had an assert added in 2f333bba that effectively (with an assert crash) prohibits 0 length lists and arrays.
Since we previously allowed 0 len array and since there are obvious uses for empty lists, i request we remove the assertions on length here. As the code presently is, it breaks the procstat sampler when the user configures to collect no per-core metrics.

[2022-03-09 00:05] baallan commented on #892
@narategithub can you undo the assertions, and if not why not?

[2022-03-21 16:44] baallan opened #896 "ibmad_sampler needs include or exclude option"
On our socketdirect hardware the ibmad sampler continuously provokes ibwarn messages (not controlled by ldmsd) as part of the samplers auto-discovery for ib ports.
If we want to stick with auto-discovery of interfaces that go up/down due to cable/switch issues, we need to be able to stop autodiscovery on interfaces that admin knows will never come up. This could be by listing interfaces of interes

[2022-03-21 16:59] baallan commented on #896
an example
[code]

[2022-03-21 18:01] baallan opened #897 "ldms_ls crash on wrong hostname instead of message."
ldms_ls seg faults with the gdb trace below for the case of the arguments given to the gdb run command.
It behaves similarly without gdb present.
The default is to use localhost as the unspecified -h argument. The 'proper' usage is to for the user to specify the host option as the local IB interface name.
The desired behavior is that ldms_ls not crash and instead issue a helpful message when rdma

[2022-03-22 01:11] narategithub commented on #897
@baallan Do I have an access to this system? I can't reproduce this on OGC systems (we have mlx4, mtcha, cxgb4). The commit ID I tested with is 78649a535d5d9b69ce7b0891440c80248de6071d. `ldms_ls` correctly reported

[code]

with a long help string.

[2022-03-30 22:53] baallan opened #899 "stream permissions analogous to metric set"
We can connect a user-owned L2 aggregator to a system-owned L1 aggregator via munge and get copies of sets with permission 644 into our L2 from the L1. The analogous behavior for stream data apparently isn't supported. Specifically:
 *  if I connect to the L1 from my user account with ldmsd_controller and munge and try to stream_client_dump, I get
[code]
and ldmsd_controller exits rather than retu

[2022-03-31 15:55] baallan commented on #896
@morrone should I be doing something to patch the problems? Admins like zero-config where possible, but they like samplers that don't fill their logs with cruft even more. Of course ideally they want both at the same time.

[2022-04-01 00:06] morrone commented on #896
I am a little busy at the moment. I will probably get to it eventually, but I don't have a current time frame in mind. If you would like to work on it, I am not at all opposed to that.

[2022-04-06 22:57] baallan opened #901 "procstat2 create_metric_set"
The set create code in the new procstat2 sampler assumes that all cores are currently running when computing the maximum list size. As individual cores can be down temporarily (and hence disappear from /proc/stat, potentially leaving a hole in the cpu# sequence), the cpu count used to set the list bound may be incorrect.
to demonstrate:
[code]

The linux utility 'lscpu' produces a correct number o

[2022-04-28 18:19] baallan commented on #896
#907 fixes this.

[2022-04-28 18:19] #896 closed

[2022-04-28 18:22] baallan opened #915 "perm= ignored by lustre_client, sysclassib samplers"
lustre_client, sysclassib  need improving to support perm=option.

[2022-06-06 18:47] baallan opened #938 "config now allowing load errors"
Previously, a plugin load failing would stop further interpretation of the input and exit the daemon.
Presently (top of OVIS-4:  02ac5119)  the code runs through sampler plugin load errors.
The prior behavior during misconfiguration needs to be restored.
e.g..

[code]

[2022-06-07 08:12] tom95858 commented on #938
I don't see where anything has changed in this area. Please provide the commit id where the regression occurred.

[2022-06-07 22:04] baallan opened #942 "use after free"
ldmsd_xprt_term calls __free_req_ctxt(reqc) which calls free while reqc is still in use by the ldmsd_process_config_request call to ldmsd_handle_request to process plugn_config_handler. This results in write/read to/from free memory (which may have been allocated as something else in the meantime).

Ultimately, this leads to req_ctxt_ref_get:635:  assert(reqc->ref_count) failing.

It appears req_c

[2022-06-07 22:35] baallan commented on #942
nevermind. provoked by other debug instrumentation.

[2022-06-07 22:35] #942 closed

[2022-06-13 15:30] baallan commented on #892
based on testing with procstat, this has been fixed.

[2022-06-13 15:30] #892 closed

[2022-06-15 20:22] baallan commented on #938
@narategithub Not only load failures but also non-zero returns from sampler plugin config() are also continuing to process the conf file when it should not.

[2022-06-15 20:29] baallan commented on #938
example of sampler config fail continuing to run:
[code]
###### expect conf file process to stop here, but call to sample later indicates the following 'start' command for the plugin got processed.
[code]

[2022-06-15 21:08] baallan opened #948 "prdcr_stop/prdcr_del issuing messages"
When i do a prdcr_stop/prdcr_del on a producer, i get a message:

The producer is in use.

It appears __ldmsd_prdcr_stop does:
[code]
but afaict none of the code before this does
[code]
Should the reassignment of conn_state be unconditional?

[2022-06-15 21:39] baallan commented on #948
@narategithub any thoughts on this?

[2022-06-15 21:45] narategithub commented on #938
The issue is confirmed. I think it is introduced by c4f19c64548da21e171de7b424a04ff755c8bc25.

#949 should fix this bug.

[2022-06-16 16:30] baallan commented on #948
@nick-enoent I expect that if maestro is managing producers, then this ldms issue will affect maestro in unhappy ways.

[2022-06-16 17:00] #915 closed

[2022-06-16 17:03] baallan commented on #948
Don't know if there's any protocol relation that would affect #771 also.

[2022-06-20 14:03] nichamon opened #957 "A race in the process_dir_update() and ldmsd_set_register()"
@nichamon while i've fixed the race on the buffers, there's still fundamentally a race between  process_dir_request(PDR) and dir_update(DU) nested inside ldmsd_set_register (Below). Is there a lock on something that should be taken and isn't or a mis-ordering of insertion into some data structures such that PDR is seeing the set before DU is done?
[code]

_Originally posted by @baallan in https://

[2022-06-22 19:24] #938 closed

[2022-06-24 19:35] nichamon commented on #957
@baallan What was the symptom that indicated the race? Did you see an aggregator that received a DIR request before the sampler sent the DIR_ADD?

Both `dir_update()` and `process_dir_request()` sends and process all three dir types: DIR_ADD, DIR_RM, and DIR_UPDATE.

[2022-06-24 22:35] baallan commented on #957
@nichamon I've seen it quite regularly, so when that cluster come's back up next week, I should be able to post a reproducer configuration and a useful suppression file that hides unrelated cruft (i.e. sampler update races on set data are expected by design).
Can you remind me what is the current set of -Dxxxxx compile flags that will turn on the transport layer debugging statements?

[2022-07-12 19:32] baallan opened #981 "ldms/src/decomp/static/decomp_static.c:956: dcol used uninit"
The error message in decomp_static appears to have been cloned from the make_rows region but dcol is used uninit afaict, likely leading to confusing or seg faulting messages when debugging configuration errors.

[2022-07-18 15:59] baallan opened #987 "update hint handling?"
Observation of L1 update hint:
[code]

even though on L0 daemons

[code]
and on L1:
[code]

It is true that many other sets present are collected at 1 hz rather than 1/minute.

[2022-07-18 16:04] baallan commented on #987
@nichamon We have a situation (observable on shirley, etc with ldms_ls) that the L2 is trying to update at 1Hz even though the set is produced at 1/minute. We don't understand why the set interval and update hints & updates never sync at 1/minute.
This produces many oversample messages at the L2.
Logging on the production L1s is at ERROR, so we don't see the oversample infos there.

[2022-07-18 16:06] baallan commented on #987
It occurs to me to wonder if this is related to #957  or #971

[2022-07-18 17:26] tom95858 commented on #987
Hi @baallan, @nichamon:

The cause is that there is a single updater in each of the L1 aggregators (all_ecadminX) for all metric sets. That updater is updating every 1.0s:230.0ms and is _not_ in auto mode. Therefore the set hint is ignored from the sampler and overwritten with the update interval at the L1.

Here's some output at ecadmin5 (L1) to demonstrate this...

[code]
The simplest thing to d

[2022-07-18 18:03] baallan commented on #987
@tom95858 so how should
[code]
be corrected?

[2022-07-18 18:09] tom95858 commented on #987
Well, I don't know @baallan, but what is written there is not what is running. The updater name doesn't even match.

[2022-07-18 22:10] tom95858 commented on #987
I'm suggesting that you might not be running the config you think you are. My claim is not based on the syntax of any configuration file; I simply ran the command shown above and noted that the updater is not, in fact, running in auto mode as you claimed. Hint processing that is working fine and as expected. You could have tested  your config yourself using ldmsd_controller against any of the L1 a

[2022-07-19 18:13] valleydlr commented on #987
Hi Ben,

Please send me all files, generators and generated configuration files, that have anything to do with the running configurations on Eclipse admin nodes and compute nodes.

Thanks,
Jim
________________________________
From: Benjamin Allan ***@***.***>
Sent: Monday, July 18, 2022 1:17 PM
To: ovis-hpc/ovis ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [EXTERNAL] Re: [ovis-hpc/ovis] updat

[2022-07-19 18:56] baallan commented on #987
I should mention eclipse is running ldms@78649 (march 10) in git, which is a few bug patches on top of 4.3.8 but before most of the recent feature work started merging.
I will work on a reproducer script and close this for now.
The c code for updtr suggests that auto_interval=true can be given to either updtr_add or updtr_start; we are testing adding it to updtr_start at cluster scale in the updtr

[2022-07-19 18:56] #987 closed

[2022-07-19 20:51] baallan commented on #987
@tom95858 @valleydlr
running 'ldms-static-test.sh auto-interval' produces correct results with c985fa6 (near top of current tree) and with the version on our cluster. It tests samplers running at 1,5,9 second intervals where each rate is on a different sampler daemon.
I also extended the test to run a second sampler at 9,1,5 second intervals on the 1,5,9 interval daemons and it seems to work right

[2022-07-26 06:07] baallan opened #991 "c++ bindings check capable vm in pull-request build checks"
Currently none of the vms used for the pull request checks have g++ installed so that new code dependent on the c++ api can be checked.
As a lot of modern c++ code depends on boost libraries, it would be helpful there was at least an ubuntu container with g++ and boost included.
It's not obvious to me (perhaps lack of correct access or vm repo url) how to add another preconfigured test vm.

[2022-08-22 15:59] nichamon opened #1001 "ldms_auth_munge doesn't check whether Munge daemon is running or not."
I started an LDMSD with -a munge.
[code]
LDMSD started successfully. However, I could not ldms_ls to it, and no error messages in the LDMSD's log. With the gdb session, I found that `munge_encode` returned an error because Munge daemon wasn't running.

Two things that we may want to address.
-  Should `ldms_auth_munge` check whether it can connect to the Munge daemon in `__auth_munge_new()`, where

[2022-08-22 15:59] nichamon commented on #1001
@tom95858 @narategithub What do you think?

[2022-08-22 17:07] tom95858 commented on #1001
I think there is a munge test digest we could attempt to encode/decode in the init logic. This would allow us to test at init time if the daemon was running and/or the socket was accessible.

I would like to add a logging library and move the log functions out of ldmsd. This would allow transports, authentication plugins, stores, etc... to all log messages in the same way.

[2022-08-22 17:12] baallan commented on #1001
re munge fails, we certainly need it logged.

Re logging library, it would be great if now is the time to pick up that discussion again:
https://github.com/ovis-hpc/ovis-wiki/wiki/Proposal-5

[2022-08-22 18:00] nichamon commented on #1001
I'll add the logic to test during the init state. I'll post the patch when I'm done.

I totally agree with you.

[2022-08-23 03:29] #1001 closed

[2022-09-08 23:58] morrone opened #1012 "More gnulib files needed with recent m4 file updates."
I really should have included more of the ancillary files from gnulib with the recent m4 files. In the past I tried to get those in and they were rejected without a clear reason, so this time I left them out. But the new m4 files actually do reference some of them so we are getting warnings a autogen time. I'll create a new PR with those soon.

[2022-09-09 00:03] tom95858 commented on #1012
@morrone, the reason the were not accepted is because it wasn't to clear me why they were "better" and I'm worried about local mods we have made to make our build work. If we are comfortable that the gnulib macros we are incorporating are better for whatever reason and will not regress our build, then it seems logical that we take them.

[2022-09-14 05:01] tom95858 commented on #1012
@morrone, I think we've resolved this issue with your latest pull requests...or is there more to do here?

[2022-09-14 05:03] tom95858 commented on #981
@nichamon, @baallan is this resolved?

[2022-09-14 05:06] tom95858 commented on #948
@baallan are you doing ldmsd_controller commands while maestro is running?

[2022-09-14 05:11] #957 closed

[2022-09-14 05:14] tom95858 commented on #795
@Snell1224  could you please either provide the appropriate documentation or close this issue?

[2022-09-14 05:16] tom95858 commented on #778
@eric-roman is this resolved? Could you please confirm?

[2022-09-14 05:17] tom95858 commented on #720
@oceandlr can you please confirm that we have an issue or close this? Thanks.

[2022-09-14 05:17] tom95858 commented on #637
@morrone is this resolved?

[2022-09-14 05:18] tom95858 commented on #361
@baallan where are we on this?

[2022-09-14 06:30] morrone commented on #1012
Yes, fixed by PR #1014. Thanks!

[2022-09-14 06:30] #1012 closed

[2022-09-14 16:38] #795 closed

[2022-09-14 18:42] baallan commented on #361
@tom95858 I still need to take a couple of days to do it; never gets to the top of the queue.
If its lingering is bothersome, i could move it to an snl tracker.

[2022-09-14 18:48] baallan opened #1017 "opa2 sampler produces nuisance warnings"
We need to stop spurious warnings in the log about ": create_hfi_port error "
that occur on systems with mixed omnipath and mlx hardware.

PR #852 is an incorrect attempt at a solution.

[2022-09-14 19:23] baallan commented on #948
@tom95858 no, i'm seeing this with configurations that don't involve maestro in any way.
Basically, if i configure an aggregator and then later send the statement list that inverts the configuration to stop/remove everything, I get the message mentioned above.
As it happens, the teardown script is piped through ldmsctl rather than ldmsd_controller.

reproducer is (assuming configured without --dis

[2022-09-14 19:52] baallan commented on #897
@tom95858 I don't know that you have root access on stria.
I've set up test daemon on stria-login1 that demonstrates the problem.
When you have time to look, let me know.

test case reminders to myself:
module purge
module use /projects/ovis/modules/stria
module load ldms
/opt/ovis.aarch64/INSTALLS/ovis-1bbc956/sbin/ldmsd  -c /opt/ovis.aarch64/current/etc/sysconfig/ldms.d/ibtest.conf  -v ERROR -n

[2022-09-14 20:10] baallan commented on #366
@tom95858 I believe this has all been fixed for the default case.

If a builder/packager requests non-default --enable-etc, the etc dir build will try to write on /etc unless the builder sets DESTDIR at build time or redefines sysconfdir at configure time.

For the above reasons, I'm closing the issue.
A separate discussion should be had about moving the /etc/ installed example files to readthedoc

[2022-09-14 20:10] #366 closed

[2022-09-14 20:17] baallan commented on #347
@aamirrashid If this issue is still of interest, please comment. If not please let us know so we can close it.

Generally, regarding v4 genders:
- maestro (yaml-based) configuration is intended to replace genders. As such, minimal patches to genders support are being made. Major new syntax such as set-groups will only be supported in maestro.
- As with v3, the v4 genders-based systemd scripts incl

[2022-09-14 20:39] baallan commented on #110
has been removed.

[2022-09-14 20:39] #110 closed

[2022-09-14 21:21] aamirrashid commented on #347
Hi Jim,

I've forwarded this msg to the new team within that owns LDMS now.
Someone from that team will get in touch with you shortly.

Thanks,
-aamir

On 9/14/22 4:17 PM, Benjamin Allan wrote:

[2022-09-14 21:22] tom95858 commented on #897
I believe this is an issue with the MLX5/OFA install on STRIA. I don't
think it has anything to do with LDMS.

On Wed, Sep 14, 2022 at 1:52 PM Benjamin Allan ***@***.***>
wrote:

--
Thomas Tucker, President, Open Grid Computing, Inc.

[2022-09-16 03:50] nichamon commented on #948
@baallan I cannot reproduce the error. All daemons exited gracefully. I looked at ldmstest/many/run/revconf.1 `prdcr_del` is sent right after `prdcr_stop` to the aggregator. A possibility that resulted in the "prdcr is in use" is that ldmsd processed prdcr_del before it processed the DISCONNECTED event. However, I have never run into this situation, even when I tested with `ldms-static-test.sh man

[2022-09-16 06:13] baallan commented on #948
@nichamon With procstat fixed, i'm still sometimes seeing this producer message. much more frequently with valgrind in action than without, which suggests it is indeed some timing issue.
What i have found the hard way is that any timing thing that valgrind provokes will also occur at cluster scale due to delays there.
a patch to the 'many' script something like below is likely to aid in reproducin

[2022-09-16 15:57] nichamon commented on #948
@baallan The procstat fix is unrelated to the in-use producer message. However, without the fix, your test cannot run successfully.

As I mentioned, it is possible that users will see the "the producer is in use" message if the producer is not ready to be deleted. It will be ready when there are no updaters to refer to it; the producer has been stopped, and it is aware that the connection to the s

[2022-09-19 15:28] baallan commented on #948
The scenario being tested  is that the aggregator is sent the revconf.1 script to tear it down, then the 2 samplers are deconfigured by being sent (e.g. many/run/revconf.2).
Are you saying i need a sleep for processing somewhere in the following script?
Or that samplers must all be stopped first to meet the cited conditions?

revconf.1
[code]

[2022-09-19 16:32] eric-roman commented on #778
Last I tested this issue had been fixed.  Ok to close.

[2022-09-19 18:08] #778 closed

[2022-09-21 02:03] morrone opened #1021 "Schema frameworks for LDMS store for Kafka"
There has been discussion on recent calls about which Schema framework to use in the LDMS store that would write data to Kafka.

Kafka (via Confluent) comes with support for three scheam frameworks: [Avro](https://avro.apache.org/docs/), [Protocol Buffers](https://developers.google.com/protocol-buffers/docs/overview), and [JSON Schema](https://json-schema.org/learn/getting-started-step-by-step.htm

[2022-09-21 04:21] tom95858 commented on #1021
@morrone great summary, thanks Chris.

[2022-11-02 22:53] morrone opened #1052 "Missing API function ldms_record_free()"
The ldms.h API is missing an ldms_record_free() function to match up with the ldms_record_alloc() function. This would be very useful to sampler implementers to allow us to cease the use of a record instance if a problem is encountered during the process of filling in metric values in the record.

[2022-11-03 00:03] tom95858 commented on #1052
@nichamon, I thought we had this or a similar interface...can you confirm or comment?

[2022-11-03 03:05] nichamon commented on #1052
@narategithub  Added Narate as he was the one who implemented most of the APIs.

I checked and found that we don't have an API to free up a record instance's heap memory. The closest API we have to free a record instance is `ldms_list_remove_item()`. It is to remove an item from a list and free the heap memory of the item.

I agree that we should add the API. It would be great if it's included in

[2022-11-03 03:16] nichamon commented on #1052
I believe that we don't have such an API to prevent the case that the sampler authors call the API to destroy a record instance that has been appended to a list.

We could provide the API. It will behave as `ldms_list_remove_item()` if the to-be-freed record instance has been appended to a list. An alternative is to make the API return EBUSY if the record instance is in a list.

@narategithub Corr

[2022-11-03 04:07] narategithub commented on #1052
@nichamon historically before we have the record, elements in the list are *created* and appended in one go with `ldms_list_append_item()`. They are also removed and freed (return the memory to the heap) in one go with `ldms_list_remove_item()`.

When the record feature is introduced, the `ldms_list_append_item()` was left unchanged and the `ldms_record_alloc()` and `ldms_list_append_record()` wer

[2022-11-03 18:58] morrone commented on #1052
The combined allocate+append sounds reasonable to me.

Also, speaking of ldms_list_remove_item(), it might be good to expand the comment to mention records or something. It was not clear to me how to remove a record from a list since there is a custom ldms_list_append_record(), but no matching ldms_list_remove_record().